<div class="reset-container">


    <div class="reset-card">

        <div>
            <a routerLink=""><img src="../../assets/img/13. Go back.png" alt=""></a>
            <h1>Passwort zurücksetzten</h1>
        </div>
        <span>Bitte geben sie Ihre E-Mail-Adresse ein.</span>

        <form  (ngSubmit)="sendemail(contactForm)" #contactForm="ngForm">
            <div class="input-containers" (focusin)="divfocusmail('email',true)"
                [ngClass]="{'borderPurple':borderVisibleMail, 'empty-input-Name':!user.email && email.touched}"
                (focusout)="divfocusmail('email',false)">
                <div>
                    <mat-icon [ngStyle]="{'color': borderVisibleMail ? 'black': 'gray'}">mail</mat-icon>
                    <input [(ngModel)]="user.email" name="email" placeholder="beispielemail@email.com" type="email"
                        #email="ngModel" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
                </div>
            </div>
            <div class="validation-container">
                <div *ngIf="email.touched && !user.email" class="validation-text">Bitte gib deine Email
                    ein</div>
                    <div *ngIf="email.touched && email.errors?.['pattern']" class="validation-text">Bitte gib eine gültige E-Mail-Adresse ein (z. B. max&#64;mustermann.de).</div>
            </div>
            <span class="email-txt"> Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern können.</span>
            
            <div class="button-container">
                <input  [disabled]="!contactForm.valid" type="submit" value="E-mail senden" name="" id="">
            </div>
        </form>
    </div>

</div>