@import './../../../styles.scss';

.active-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    >#user-name {
        margin: 0;
        font-family: $font-primary;
        font-weight: 700;
        font-size: 32px;
        color: #000000;
    }
    >.avatar {
        position: relative;
        >.profile {
            width: 70px;
            height: 70px;
        }
        >.status {
            position: absolute;
            right: 0;
            bottom: 10px;
        }
    }
    >a {
        margin: 0;
    }
}

.profile-dialog{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 150px;
    background-color: aliceblue;
    border-radius: 30px;
    box-sizing: border-box;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    flex: 1;
    padding: 40px;
    justify-content: center;
    gap: 18px;
    opacity: 0;
    margin-top: 75px;

    >a{
        text-decoration: none;
        color: #000000;
        font-family: $font-primary;
        font-weight: 700;
        font-size: 18px;

    
    }

}

.opacity{
    opacity: 1;
}