


<div  class="overlay-bg">
    <mat-card appearance="outlined">
    <mat-card-content>
    <div class="profile-Container" #profilcard>
        <div class="container-Header">
            <span>Profil</span>
            <img (click)="closeDialog()" src="assets/img/close.png" alt="close">
        </div>
        <div class="container-img">
            <img  src="assets/img/avatar_large_{{ userAvatar }}.png" alt="avatar">
        </div>
        <div class="container-Name">
            <span>{{ userName }}</span>

        </div>
        <div class="container-Status">
            <img  src="assets/img/{{ userStatus }}.svg" alt="">
            <span [ngClass]="userStatus === 'Online' ? 'status-online' : 'status-offline'" >{{ userStatus }}</span>
        </div>
        <div class="container-Email">
            <div class="email-Header">
                <img src="assets/img/mail.svg" alt="mail-icon">
                <span>E-Mail-Adresse</span>
            </div>
          <a href="mailto:{{ userEmail }}">{{ userEmail }}</a>

        </div>

        <div class="button-container">
            <button (click)="opendirectChat(userId, userName, false, userAvatar, userEmail, userStatus)"  class="button">Nachricht senden</button>
        </div>
    </div>
        </mat-card-content>
  </mat-card>
</div>

