<section [ngClass]="overlayUserCardActive ? 'active' : 'not-active'" class="user-card">
    <div class="content">
        <div class="head">
            <p>Profil</p>
            <img src="assets/img/close.png" alt="close">
        </div>
        <div class="avatar">
            <img src="assets/img/avatar_2_square.png" alt="avatar">
        </div>
        <div class="name">
            <p>Frederik Beck</p>
            <a routerLink="/user-edit">Bearbeiten</a>
        </div>
        <div class="status">
            <img src="assets/img/Online.svg" alt="status-circle">
            <p>Aktive</p>
        </div>
        <div class="email">
            <div>
                <img src="assets/img/mail.svg" alt="mail-icon">
                <p>E-Mail-Adresse</p>
            </div>
            <a href="mailto:">fred.beck&#64;email.com</a>
        </div>
    </div>
</section>