
<main>
<section [ngClass]="usercardservice.overlayUserCardActive  ? 'active' : 'not-active'" class="user-card">
    <div class="content">
        <div class="head">
            <p>Profil</p>
            <img (click)="usercardservice.overlayUserCardActive = false;" src="assets/img/close.png" alt="close">
        </div>
        <div class="avatar">
            <img  [src]="'assets/img/avatar_' + usercardservice.avatar + '_square.png'" alt="avatar">
        </div>
        <div class="name">
            <p>{{ usercardservice.name }}</p>
            <a (click)="usercardservice.overlayUserCardActive = false; usercardservice.overlayEditUserActive = true;">Bearbeiten</a>
        </div>
        <div class="status">
            <img src="assets/img/Online.svg" alt="status-circle">
            <p>Aktive</p>
        </div>
        <div class="email">
            <div>
                <img src="assets/img/mail.svg" alt="mail-icon">
                <p>E-Mail-Adresse</p>
            </div>
            <a href="mailto:">{{ usercardservice.email }}</a>
        </div>
    </div>
</section>
</main>