<div  class="overlay-bg">

    <form>
        <div  class="profile-dialog">

            <div class="dialog-Headline">
                <span>#</span>
                <img src="assets/img/close.png" alt="">
            </div>
            <div class="dialog-name">
                <div class="channel-name-Container">
                    <span>Channel-Name</span>
                    <span  class="edit-span">Bearbeiten</span>
                    <span  class="edit-span">Speichern</span>
                </div>
                <span  class="current-Name">#</span>
                <div  class="input-channel-name-container">
                    <img src="assets/img/tag-grey.png" alt="">
                    <input  type="text" name="name"
                        placeholder=" z.B Kooperationsprojekte" required>
                </div>
            </div>
            <div class="dialog-description">
                <div class="channel-description-Container">
                    <span>Beschreibung</span>
                    <span  class="edit-span" >Bearbeiten</span>
                    <span  class="edit-span">Speichern</span>
                </div>
                <span  class="current-Description"></span>
                <div  class="input-channel-description-container">
                    <input  type="text" name="description" id=""
                        placeholder="Dein Text hier"  required>
                </div>
                <div class="creator-container">
                    <span>Erstellt von</span>
                    <span class="current-Creator"></span>
                </div>
            </div>
            <div class="button-container">
                <button  class="delete-Button">Channel Löschen</button>
                <input [disabled]="" type="submit" value="Erstellen">
            </div>
        </div>
    </form>

</div>


<div class="main-chat-wrapper">
    <div class="main-chat-header">
        <div  class="message-group">
            <div class="actual-group">
                <img src="assets/img/tag.png" alt=""><span class="fontNunito"></span>
            </div>
            <img class="arrow_down" src="assets/img/keyboard_arrow_down.svg" alt="">
        </div>
        <div  class="actual-group-members">
            <div >
                <div class="members-avatar-group" >
                    <div class="avatar"
                       >
                    </div>
                </div>
            </div>

            <div class="openDialog" >
                <button type="button">
                    <span class="fontNunito"></span>
                </button>
            </div>

            <img class="imgaddMember"  src="assets/img/add_members.png"
                alt="Mitglieder hinzufügen">
        </div>

    </div>



     


    </div>
  

    <div class="input-wrapper">
        <ng-container>
       
        </ng-container>
        <div class="main-chat-message">
            <textarea #messageBox  type="text" class="fontNunito"
                placeholder="Nachricht an #" wrap="soft"></textarea>
            <div class="message-icons">


                <div #emojiComponent class="emojiWindow">
         
                </div>

                <div>
                    <img #emojiImg src="assets/img/emoji.png" alt="" >
                    <img #atImg class="atImg" #addMemberIcon src="assets/img/at.png" alt=""
                        >
                </div>
                <img  src="assets/img/send.png" alt="">
            </div>
        </div>
    </div>

