<section>






<div class="main-chat-wrapper">
    <div class="main-chat-header">
        <h1> Neue Nachricht</h1>
  
        <div class="searchUserOrChannel">

            <input [(ngModel)]="searchInput" (input)="searchChannelOrUser()" type="text" placeholder="An: #channel, oder @jemand oder E-Mail Adresse">

        </div>


    </div>

    <div  class="main-chat-feed">
    

       </div>
    <div class="input-wrapper">
     
        <div class="main-chat-message">
            <textarea #messageBox  type="text" class="fontNunito"
                placeholder="Nachricht an #" wrap="soft"></textarea>
            <div class="message-icons">


               
                <div>
                    <img #emojiImg src="assets/img/emoji.png" alt="" >
                    <img #atImg class="atImg" #addMemberIcon src="assets/img/at.png" alt=""
                        >
                </div>
                <img  src="assets/img/send.png" alt="">
            </div>
        </div>
    </div>
    </div>

</section>
