<section class="webspace-menu">
    <div class="head">
        <div>
            <img src="assets/img/Workspace logo.svg" alt="channel-icon">
            <h3>Devspace</h3>
        </div>
        <a href=""><img src="assets/img/edit_square.svg" alt="edit"></a>
    </div>
    <div class="channels">
        <div class="head">
            <div class="head-left">
                <a href=""><img src="assets/img/arrow_drop_down.svg" alt="open-channels"></a>
                <img src="assets/img/workspaces.svg" alt="workspaces">
                <h4>Channels</h4>
            </div>
            <a href=""><img src="assets/img/add.svg" alt="add"></a>
        </div>
        <nav class="channels-menu">
            <div class="channel">
                <p># <span>Entwicklerteam</span></p>
            </div>
        </nav>
    </div>
    <div class="direct-messages-menu">
        <nav class="direct-messages">

        </nav>
    </div>

</section>
