@import './../../../styles.scss';

.overlay-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    /* Grau, halbtransparent */
    z-index: 1000;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-Container{
padding: 48px;
    background-color: #FFFFFF;
    width: 500px;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 50px;
}

.container-Header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    >span{
        font-size: 48px;
    }
    >img{
        cursor: pointer;
    }
}

.container-img{
    display: flex;
    justify-content: center;
}

.container-Name{
    >span{
        font-size: 48px
    }
}

.container-Status{
    display: flex;
    align-items: center;
    >img{
        height: 30px;
        width: 30px;
    }
    >span{
        font-size: 28px;
    }
}

.status-online {
    color: rgb(28, 153, 28);
  }
  
  .status-offline {
    color: gray;
  }

  .container-Email{
    display: flex;
    flex-direction: column;
    gap: 8px;
    >.email-Header{
        display: flex;
        align-items: center;
        >img{
            width: 30px;
            height: 30px;
        }
        >span{
            font-size: 24px;
        }
    }
  }

  .button-container{
    display: flex;
    justify-content: center;
    >.button{
        background-color: #444DF2;
        color: white;
        border: 1px solid #444DF2;
        font-size: 16px;
       padding: 16px;
        border-radius: 20px;
        cursor: pointer;
        &:hover{
            background-color: #636af1;
            border: 1px solid #636af1;
        }
    }
  }

  a {
    text-decoration: none;
    color: #1381ff;
    font-size: 18px;
    line-height: 24.55px;
    padding: 20px;

  }