<section [ngClass]="usercardservice.overlayEditChangAvatar  ? 'active' : 'not-active'" class="user-card">

    <div class="choose-avatar-card">

    <div class="headline">

        <h1>Wähle dein Avatar</h1>
    </div>            


    <div class="avatar-Section">

        <img class="avata_img" src="../../assets/img/avatar_large_{{ newAvatarImg  }}.png" alt="">

   
    </div>

    <div class="choose-Avatar">
 

        <div class="images">
            <img (click)="changeAvatarImg(2)"  src="../../assets/img/avatar_2.png" alt="">
            <img  (click)="changeAvatarImg(3)" src="../../assets/img/avatar_3.png" alt="">
            <img  (click)="changeAvatarImg(4)" src="../../assets/img/avatar_4.png" alt="">
            <img  (click)="changeAvatarImg(5)"  src="../../assets/img/avatar_5.png" alt="">
            <img  (click)="changeAvatarImg(6)"src="../../assets/img/avatar_6.png" alt="">
            <img   (click)="changeAvatarImg(7)" src="../../assets/img/avatar_7.png" alt="">
        </div>
    </div>

    <div class="next-button">
    <button     [disabled]="!disabledButton" 
    [ngClass]="{'disabled': !disabledButton}" (click)="usercardservice.saveNewAvatarImg(newAvatarImg)"> Speichern</button>
    </div>

   </div>
</section>