.user-card {
    background-color: #FFFFFF;
    border-radius: 30px;
    border-top-right-radius: 0px;
    position: absolute;
    z-index: 1050;
    right: 0;
    top: 120px;
    width: 400px;
    height: 500px;
    padding: 45px 40px 45px 40px;

}



.active {
    display: flex;
}

.not-active {
    display: none;
}

.choose-avatar-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}


button {
    border: 1px solid transparent;
    outline: none;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #444df2;
    color: #fff;

}

.images {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 30px;
    margin-bottom: 30px;
    justify-content: center;

    >img {
        border-radius: 100%;
        cursor: pointer;  
        border: solid 1px transparent;

        
            &:hover {
                transform: scale(1); 
                border: solid 1px #444DF2;
                box-shadow: 0px 2px 8px rgba(68, 77, 242, 0.3);

            }
}

}


.avata_img {
    height: 160px;
    width: 160px;
    border-radius: 100%;
}

button.disabled {
  background-color: gray;
  cursor: not-allowed;
  color: #ccc;
}


.headline {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    >h1 {
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 24px;
    }

    >img {
    width: 24px;
    height: 24px;
    cursor: pointer;
    }
} 