<section [ngClass]="usercardservice.overlayEditUserActive ? 'active' : 'not-active'" class="user-card">
    <div class="content">
        <div class="head">
            <p>Dein Profil bearbeiten</p>
            <img (click)="usercardservice.overlayEditUserActive = false; resetName()" src="assets/img/close.png" alt="close">
        </div>
        <div class="avatar">
            <img class="userimg" (click)="usercardservice.overlayUserCardActive = false; usercardservice.overlayEditChangAvatar = true;"  src="assets/img/avatar_{{ actualUserUserCard[0].avatar  }}_square.png" alt="avatar">
        </div>
        <div class="name">
            <div class="name-head">
                <img src="assets/img/account_circle.svg" alt="profil-icon">
                <p>Vollständiger Name</p>
            </div>
        <input type="text" [(ngModel)]="usercardservice.changedName" [placeholder]="usercardservice.name">
        </div>
        <div class="button-container">
            <button (click)="usercardservice.overlayEditUserActive = false; usercardservice.overlayUserCardActive = true; resetName()"class="cancel">Abbrechen</button>
            <button (click)="usercardservice.overlayEditUserActive = false; usercardservice.saveName(usercardservice.changedName!, usercardservice.name!)" class="save">Speichern</button>
        </div>
    </div>
</section>