<section class="user-card">
    <div class="content">
        <div class="head">
            <p>Profil</p>
            <img src="assets/img/close.png" alt="close">
        </div>
        <img src="assets/img/avatar_2.png" alt="profil">
        <div class="name">
            <p>Frederik Beck</p>
            <a href="#">Bearbeiten</a>
        </div>
        <div class="status">
            <img src="assets/img/Online.svg" alt="status-circle">
            <p>Online</p>
        </div>
        <div class="email">
            <div>
                <img src="assets/img/mail.svg" alt="mail-icon">
                <p>E-Mail-Adresse</p>
            </div>
            <a href="mailto:">fred.beck&#64;email.com</a>
        </div>
    </div>
</section>