.main-chat-message {
        width: 100%;
        display: flex;
        min-height: 155px;
        position: relative;

    textarea {
            border-radius: 20px;
            border: 1px solid #ADB0D9;
            border: none;
            width: 100%;
            padding: 20px 20px;
            resize: none;

            &:focus {
                outline: none;
            }

            &:hover {
                border: 1px solid #797EF3;
            }
    }

    .message-icons {
             height: fit-content;
            display: flex;
            align-items: center;
            position: absolute;
            bottom: 10px;
            justify-content: space-between;
            gap: 4%;
            right: 20px;
            left: 20px;

        img {
            width: 40px;
            height: 40px;
            cursor: pointer;
        }

    }

    button{

            font-size: 18px;
            font-weight: 700;
            padding: 12px 25px;
            border: 1px solid #797EF3;
            border-radius: 50px;
            cursor: pointer;
            height: fit-content;

        }
}



.emojiIcon { 
display: flex;
position: relative;

}




div {
display: flex;
gap: 25px;
        .close-edit-message {
          background: white;
            color: #444DF2;
            transition: 0.1s;

            &:hover {
                background-color: #444DF2;
                color: white;
            }
        
    }



        .save-edit-message {
            background-color: #444DF2;
            color: white;

            transition: 0.1s;

            &:hover {
                color: #444DF2;
                background-color: #ECEEFE;
            }
        }

}

.emojiWindow {
    border: solid 1px black;
    padding: 10px 0px 5px 4px;
    border-radius: 10px;
    background-color: #222222;
    scrollbar-color: #444DF2 #222222 !important;
    z-index: 100;
    position: absolute;
    bottom: 125px;
    width: max-content;
}

$breakpoint-tablet: 768px;
$breakpoint-phone: 460px;

@media (max-width: $breakpoint-tablet) {

    .app-edit-message{
        width: 100% !important;
    }

    .edit-buttons{
        flex-direction: column-reverse;
    }

    .main-chat-message{

        width: 90%;
        justify-self: center;

        .message-icons{
            align-items: end !important;
            overflow: hidden;
            pointer-events: none;
           
        }

        .edit-buttons{
             transform: translateX(0);
            transition: transform 0.3s ease-in-out;
        }

        button{
            pointer-events: auto;
            font-size: 16px;
            padding: 10px 23px;
        }

        img{
            pointer-events: auto;
        }

         &:focus-within .edit-buttons {
        transform: translateX(120%);
        }
    }
}

@media (max-width: $breakpoint-phone) {
    .message-over{
        height: auto !important;
        flex-direction: column !important;
        text-align: end;
        align-self: end;
    }

    .message{
        img {
            padding: 10px 30px 0 30px;
        }
    }
}
