@import './../../../styles.scss';

.toggle-menu {
    background-color: #FFFFFF;
    transform: rotate(-90deg);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 347px;
    height: 60px;
    box-shadow: 4px 4px 7px 0px #00000033;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    cursor: pointer;
    padding: 0 14px 0 14px;
    &:hover {
        >p {
            color: #535AF1;
        }
        >.show-menu-icon path,
        .show-menu-icon rect {
            color: #535AF1;
        }
    }
    >.show-menu-icon {
        transform: rotate(90deg);
    }
    >p {
        color: #000000;
        line-height: 120%;
        font-family: $font-primary;
        font-size: 20px;
        font-weight: 500;
    }
}