
<header class="headerContainer">
    <app-header></app-header>
        <div class="newRegistration">
            <span > Neu bei DABubble ?  </span>
            
            <a   routerLink="/signUp" class="newAccount">Konto erstellen</a>
            
            </div>


        </header>
<main>
<section>

    <div class="loginCard">

        <h1> Anmeldung</h1>
        <span class="recommendWordAdress">Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</span>
        

        <form class="loginForm">

            <div class="input-Fields">
            <mat-form-field class="full-width">
                <mat-icon matPrefix>mail</mat-icon>
                <input type="email" matInput placeholder="beispielname&#64;email.com">
            </mat-form-field>
    

        </div>

        </form>

    </div>




</section>
</main>


<div class="links">

    <a   routerLink="" class="newAccount">Impressum</a>
    <a   routerLink="" class="newAccount">Datenschutz</a>
</div>