
<header class="headerContainer">
    <app-header></app-header>
        <div class="newRegistration">
            <span > Neu bei DABubble ?  </span>
            
            <a   routerLink="/signUp" class="newAccount">Konto erstellen</a>
            
            </div>


        </header>
<main>
<section>

    <div class="loginCard">

        <h1> Anmeldung</h1>
        <span class="recommendWordAdress">Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</span>
        

        <form class="loginForm">

            <div class="input-Fields">
                <div (focusin)="setFocusEmail('email', true)" class="custom-input" [ngClass]="{'borderPurple ': isActiveEmail}" (focusout)="setFocusEmail('email', false)">
                    <mat-icon [ngStyle]="{'color': isActiveEmail ? 'black': 'gray'}">mail</mat-icon>
                    <input type="email" placeholder="beispielname@email.com">
                </div>
            </div>
    
        
                <div class="input-Fields">
                    <div (focusin)="setFocusPassword('password', true)" [ngClass]="{'borderPurple ': isActivePassword}"  class="custom-input" (focusout)="setFocusPassword('password', false)">
                        <mat-icon [ngStyle]="{'color': isActivePassword ? 'black': 'gray'}">lock</mat-icon>
                        <input type="password" placeholder="Passwort">
                    </div>
                </div>

        </form>

    </div>




</section>
</main>


<div class="links">

    <a   routerLink="" class="newAccount">Impressum</a>
    <a   routerLink="" class="newAccount">Datenschutz</a>
</div>