@import './../../../styles.scss';

.mobile-search-menu{
    display: flex;
    font-size: 18px;
    font-family: 'Nunito';
    font-weight: 700;
    align-items: center;
    justify-content: space-between;
    margin-top: -32px;
    margin-bottom: 8px;
    transition: all .5s ease-in-out;
    height: 0;
    opacity: 0;
}

.mobile-search-menu-open{
    opacity: 1;
    height: 60px;
}

.search-bar {
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 42px;
    padding: 17.5px 45px 17.5px 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    >input {
        border: unset;
        color: #686868;
        font-weight: 400;
        font-family: $font-primary;
        font-size: 17px;
        width: 100%;
        padding-right: 6px;
        background-color: #FFFFFF !important;
        &:focus-within {
            outline: none;
        }
    }

    >img {
        width: 35px;
        height: 35px;
    }
}

.searchlist {
    z-index: 99999;
    height: 250px;
    position: absolute;
    background-color: white;
    overflow: auto;
    width: 100%;
    padding: 16px;
    border-radius: 30px;
    gap: 8px;


}

.search-list-container {
    display: flex;
    flex-direction: column;
    gap: 8px;

    div{
        overflow: auto;
    }
}

.user-entry {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: $font-primary;
    font-size: 24px;
    cursor: pointer;
    border-radius: 33px;

    div{
        overflow: auto;
    }

    &:hover {
        background-color: #535AF1;
        color: #FFFFFF;
    }
}

.channel-entry {
    font-family: $font-primary;
    font-size: 24px;
    cursor: pointer;
    padding: 8px;
    border-radius: 33px;

    div{
        overflow: auto;
    }



    &:hover {
        background-color: #535AF1;
        color: #FFFFFF;
    }
}

.channel-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.message-entry {
    font-family: $font-primary;
    font-size: 24px;


    >div {
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;
        padding: 8px;
        border-radius: 33px;
        overflow: auto;

        &:hover {
            background-color: #535AF1;
            color: #FFFFFF;
        }
    }
}

.searchbar-open-mobile{
    width: 100% !important;
    height: calc(100vh - 135.5px);
    left: 0px;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;

    .search-list-container, .channel-container, .message-container, .no-match{
        padding: 0 16px;

        div{
           font-size: 16px;
            overflow: auto;
            scrollbar-width: thin;
            img{
                width: 50px;
            }
        }
    }

}

    .close-searchbar{
        cursor: pointer;
    }