<div class="search-bar">
  <input [(ngModel)]="searchTerm" (input)="filterUsers()" type="text" [placeholder]="placeholderSearchBar">
  <img src="assets/img/search.svg" alt="search-icon" class="search-icon">

</div>


<div *ngIf="searchTerm" class="searchlist">
  <div class="search-list-container" *ngIf="filteredUsers.length > 0">
    <h4>Benutzer</h4>
    <div (click)="opendirectmessage(user.id,user.name,false,user.avatar,user.email,user.status)" *ngFor="let user of filteredUsers" class="user-entry">
      <img src="../../../assets/img/avatar_{{user.avatar}}.png" alt="" />
      {{ user.name }} ({{ user.email }})
    </div>
  </div>

  <div class="channel-container" *ngIf="filteredChannels.length > 0">
    <h4>Channels</h4>
    <div *ngFor="let channel of filteredChannels" (click)="openChannel(true, channel.name,channel.description,channel.creator,channel.id, channel.members,channel.date)" class="channel-entry">
      #{{ channel.name }}
    </div>
  </div>

  <div *ngIf="filteredUsers.length === 0 && filteredChannels.length === 0">
    <p>Keine Ergebnisse gefunden.</p>
  </div>
</div>