.edit-message {
        z-index: 3;
        cursor: pointer;
        position: absolute;
        left: 270px;
        width: max-content;
        border: 1px solid #ADB0D9;
        border-bottom-right-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;
        background-color: white;
        padding: 10px 20px;
        display: flex;
        align-items: center !important;
        justify-content: center;

        span {
            padding: 10px 20px;
            border-radius: 100px;
            font-size: 24px;
            font-weight: 600;
            background-color: white;

            &:hover {
                background-color: #ECEEFE;
                color: #535AF1;
                font-weight: 700;
            }


        }

    }

    .reactions {
    max-width: 700px;
    flex-wrap: wrap;
}

.more-button, .less-button{
    width: auto;
    padding: 5px 3px !important;
}

.reactionsThread {
     display: flex;
    margin-top: 4px;
    max-width: 500px;
    flex-wrap: wrap;
}


.reaction {
    scrollbar-color: #444DF2;
    border: solid 1px;
    text-align: center;
    border-radius: 50px;
    padding: 2px;
}


.emojiWindow {
    border: solid 1px black;
    padding: 10px 0px 5px 4px;
    padding: 10px 0px 20px 0px;
    border-radius: 10px;
    background-color: #222222;
    scrollbar-color: #444DF2 #222222 !important;
    z-index: 100;
    position: absolute;
    right: 30px;
    bottom: 90px;
    width: max-content;
}



    .edit-message-input{

        width: calc(100% - 290px);
        display: flex;
        min-height: 155px;
        position: relative;
        


        textarea{
            border-radius: 20px;
            border: 1px solid #ADB0D9;
            border: none;
            width: 100%;
            padding: 20px 20px;
            resize: none;

            &:focus {
                outline: none;
            }

            &:hover {
                border: 1px solid #797EF3;
            }
        }

        .controls-container {
            height: fit-content;
            display: flex;
            align-items: center;
            position: absolute;
            bottom: 10px;
            justify-content: space-between;
            gap: 4%;
            right: 20px;
            left: 20px;
        }

        .edit-buttons{
            display: flex;
            gap: 8px;
        }



        button{

            font-size: 18px;
            font-weight: 700;
            padding: 12px 25px;
            border: 1px solid #797EF3;
            border-radius: 50px;
            cursor: pointer;
            height: fit-content;

        }

        .close-edit-message{
            background: white;
            color: #444DF2;
            transition: 0.1s;

            &:hover {
                background-color: #444DF2;
                color: white;
            }
        }

        .save-edit-message{
            background-color: #444DF2;
            color: white;

            transition: 0.1s;

            &:hover {
                color: #444DF2;
                background-color: #ECEEFE;
            }
        }

        img{
            padding: 0 !important;
            left: 20px;
            bottom: 20px;
            cursor: pointer;
            margin-right: auto;
            background: white;
            border-radius: 50%;
        }


    }

    
$breakpoint-before-tablet: 1150px;
$breakpoint-tablet: 900px;
$breakpoint-phone: 460px;

@media (max-width: $breakpoint-before-tablet) {
    .edit-message-input{
        width: calc(100% - 200px) !important;

        .controls-container{
            align-items: end !important;
            overflow: hidden;
            pointer-events: none;
           
        }

        .edit-buttons{
             transform: translateX(0);
            transition: transform 0.3s ease-in-out;
        }

        button{
            pointer-events: auto;
            font-size: 16px;
            padding: 10px 23px;
        }

        img{
            pointer-events: auto;
        }

         &:focus-within .edit-buttons {
        transform: translateX(120%);
        }
    }

        .edit-buttons{
        flex-direction: column-reverse;
    }


}

@media (max-width: $breakpoint-tablet) {
    .like-icon, .check-icon {
        display: none;
    }

    .edit-message{
        left: 85px !important;
    }

      .desktop-visible {
    display: none !important;
  }

}

@media (min-width: $breakpoint-tablet){
      .mobile-visible.more-button {
    display: none !important;
  }
}

@media (max-width: $breakpoint-phone) {
    .edit-message-input{
        width: 90% !important;
        margin-right: 5%;
    }

    .message-over{
        height: auto !important;
        flex-direction: column !important;
        text-align: start;
        align-self: self-start;
    }

    .message{
        img {
            padding: 10px 16px 0 16px;
        }
    }
}

