<div class="message-wrapper">
    <div *ngIf="!dateExists" class="message-date-part">
        <div class="date-row"></div>
        <span class="message-date fontNunito">{{ date }}</span>
    </div>
    <div  [ngClass]="{'reverse': isOwn}" [ngStyle]="editMessage ? {'background-color':'#ECEFFF'} : {}" class="message"  >
        <div *ngIf="!editMessage && !isOwn" class="reaction-popup">
            <img (click)="addNewReaction('check')" src="assets/img/check_40.png" alt="check">
            <img (click)="addNewReaction('like')" src="assets/img/like.png" alt="like">
            <img class="change-color" src="assets/img/add_reaction40.png" alt="react">
            <img (click)="toggleEditPopup()" *ngIf="isOwn"src="assets/img/dots.png" alt="dots"></div>
            <div *ngIf="isOwn && showEditPopup" class="edit-message">
           <span (click)="overwriteMessage()">Nachricht bearbeiten</span>
       </div>
            <div class="reaction-popup ">
            <img src="assets/img/add_reaction40.png" alt="">
            <img (click)="toggleEditPopup()" *ngIf="isOwn" src="assets/img/dots.png" alt="dots">
        </div>
        <img [src]="'assets/img/avatar_' + avatarSrc + '.png'" alt="">
        <div class="message-details" *ngIf="!editMessage">
            <div class="message-over"><span class="message-name">{{ name }}</span><span class="message-time">{{ time }} Uhr</span></div>
            <div [class.own-message]="isOwn" class="message-text"><span>{{ messageText }}</span></div>
            <div class="message-under">
                <div class="message-not-answered">
                    <!--<div class="reaction"><img src="assets/img/rocket.png" alt=""><span>1</span></div>
                    <div class="reaction"><img src="assets/img/check.png" alt=""><span>1</span></div>-->
                    <img class="add-reaction" src="assets/img/add_reaction40.png" alt=""></div>
                </div>
        </div>
        <div *ngIf="editMessage" class="edit-message-input fontNunito">
            <textarea type="text" class="fontNunito" wrap="soft" placeholder={{messageText}}></textarea>
            <img src="assets/img/emoji.png" alt="">
            <button class="close-edit-message fontNunito" (click)="closeEditPopup()">Abbrechen</button>
            <button class="save-edit-message fontNunito">Speichern</button>
    </div>
</div>