<section class="user-card">
    <div class="content">
        <div class="head">
            <p>Dein Profil bearbeiten</p>
            <img src="assets/img/close.png" alt="close">
        </div>
        <div class="avatar">
            <img src="assets/img/avatar_2_square.png" alt="avatar">
        </div>
        <div class="name">
            <div class="name-head">
                <img src="assets/img/account_circle.svg" alt="profil-icon">
                <p>Vollständiger Name</p>
            </div>
            <input type="text" placeholder="Frederik Beck">
        </div>
        <div class="button-container">
            <button routerLink="/user-card" class="cancel">Abbrechen</button>
            <button class="save">Speichern</button>
        </div>
    </div>
</section>