.main-content {
  display: flex;
  flex-direction: column;
  padding: 24px;
  position: relative;
  z-index: 10;
  height: calc(100vh - 130px);


  >.main-head-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;

  >.main-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    width: 100%;
    max-width: 2280px;

    
    >.devspace-mobile{ 
      display: none;
      >.devspace-headline {
        font-size: 18px;
        font-weight: 700;
        margin: 0;
        padding: 0;
      }
    }

  }
  }

  .main-chat-feed {
    flex-grow: 1;
    height: calc(100% - 321px);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
}

.channel-info {
    background-color: rgb(227 218 188);
    padding: 16px;
    display: flex;
    gap: 16px;
   


}
.channel-Info-Img {
    width: 100px;
    height: 100px;
}.channel-Info-Img {
    width: 100px;
    height: 100px;
}
.channel-Info-container{
    display: flex;
    flex-direction: column;
    gap: 16px
}
.welcome-span{
    font-weight: 700;
    font-size: 24px;
}


  .body {
    padding-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    height: 80vh;


    @media (max-width: 1400px) {
        justify-content: flex-start;

    }


       @media (max-width: 768px) {
        justify-content: center;

    }

    app-workspace-menu {
      height: 100%;
      width: 100%;
      max-width: 366px;
      transition: width 0.3s ease;


          @media (max-width: 768px) {
           max-width: 100%;

    }
    }

    app-workspace-menu.closed {
      width: 0 !important;
      overflow: hidden;
    }

    .chat-area {
      flex-grow: 1;
      max-width: 1920px;
    }


    app-direct-message-chat {
      height: 100%;
      width: 52%;
      transition: width 0.3s ease;
      flex-grow: 1;
    }

    app-thread {
      height: 100%;
      width: 33%;
      max-width: 485px;
      transition: width 0.3s ease;
    }
  }

  >app-toggle-webspace-menu {
    position: absolute;
    bottom: 170px;
    left: -155px;
  }

  app-thread.closed {
    width: 0 !important;
    overflow: hidden;
  }

  .mobile-container {
    display: none;
  }

}

@media (max-width: 768px) {
  .main-content >.main-head-wrapper  > .main-head > app-search-bar, app-header {
    display: none;
  }
  .main-content >.main-head-wrapper > .main-head > .mobile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }


}


.hidden {
  display: none !important;
}


.showThreadSideLarge {
      width: 100% !important;
    max-width: 100% !important;
}
