.main-content {
    display: flex;
    flex-direction: column;
    padding: 24px;
    position: relative;

    >.main-head {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .body {
        padding-top: 24px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    >app-toggle-webspace-menu {
        position: absolute;
        bottom: 170px;
        left: -155px;
    }
}