<section *ngIf="loadingStatus" class="main-content default-background">
    <div class="main-head">
        <app-header></app-header>
        <app-search-bar></app-search-bar>
        <app-active-user></app-active-user>
    </div>
    <div class="body">
        <app-workspace-menu [userArray]="allUsers"></app-workspace-menu>
        <app-channel-chat [allUsersChannel]="allUsers" *ngIf="showChanelSection"></app-channel-chat>
        <app-main-chat *ngIf="!showChanelSection"></app-main-chat>
        <app-thread *ngIf="!showChanelSection" 
        [parentMessage]="selectedThreadMessage"
        (closeThread)="closeThreadView()"></app-thread>
    </div>
    <app-toggle-webspace-menu></app-toggle-webspace-menu>
</section>
