$font-primary: 'Nunito', sans-serif;
$font-secondary : 'Figtree', sans-serif;


  app-channel-chat {
      max-width: 1440px;
      flex-grow: 1;
    }

  app-main-components{
    @media (max-width:768px) {
      display: flex;
      flex-direction: column;
      height: 100vh;  
    }
  }

  
