$font-primary: 'Nunito', sans-serif;
$font-secondary : 'Figtree', sans-serif;


  app-channel-chat {
      max-width: 1440px;
      flex-grow: 1;
    }

  app-main-components{
      width: 100vw;
      display: flex;
      justify-content: center;
    @media (max-width:900px) {
      display: flex;
      flex-direction: column;
      height: 100vh;  
    }
  }

  app-login {
    width: 100%;
    display: flex;
    justify-content: center;

  }




  
  
  