@import './../../../styles.scss';

.active-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    >#user-name {
        margin: 0;
        font-family: $font-primary;
        font-weight: 700;
        font-size: 32px;
        color: #000000;
    }
    >.avatar {
        position: relative;
        >.profile {
            width: 70px;
            height: 70px;
        }

        >.status {
            position: absolute;
            right: 0;
            bottom: 10px;
        }
    }

    >a {
        margin: 0;
    }
}

.profile-dialog {
    position: absolute;
    right: 10px;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    border-top-left-radius: 30px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-sizing: border-box;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    flex: 1;
    padding: 40px;
    justify-content: center;
    gap: 18px;
    opacity: 0;
    margin-top: 75px;
    z-index: 1001;
    align-items: center;

    >a {
        text-decoration: none;
        color: #000000;
        font-family: $font-primary;
        font-weight: 600;
        font-size: 24px;
        cursor: pointer;
        padding: 10px 45px 10px 45px;
        border-radius: 100px;
        &:hover {
            background-color: #ECEEFE;
            color: #535AF1;
            font-weight: 700;
        }
    }

}

.overlay-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    overflow-y: hidden;
}

.opacity {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}


.d-none {
    display: none;
}