<div class="allUser">

<mat-card appearance="outlined">
    <mat-card-content>
        <div class="userList-Container">
            <div class="headline">
            <h1>Mitglieder</h1>
            <img class="closeIcon" src="assets/img/close.png" alt="">
            </div>
            <div class="users">
                <div class="profile" *ngFor="let user of data.allUsersChannel">
                    <div class="avatarImages">
                    <img  class="avatar" src="assets/img/avatar_{{user.avatar}}.png" alt="avatar">
                    </div>
                    <div class="username">
                <p class="name"> {{ user.name }}</p>
                </div>
                </div>
                <div class="add_members">
                    <img src="assets/img/add_members.png" alt="">
                    <span>Mitglieder hinzufügen</span>

                </div>  
            </div>
        </div>
    </mat-card-content>
  </mat-card>
</div>