.register-container {


  flex-direction: column;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 24px;
  margin-left: 24px;

  >.Logo {
    position: absolute;
    top: 35px;
    left: 35px;
    height: 70px;
    width: 242.11px;
  }



  >.register-card {
    height: 680px;
    width: 610px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
    background-color: #FFFF;
    border-radius: 30px;
    box-sizing: border-box;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    flex: 1;


    @media (max-width: 720px) {
      height: 600px;
      padding: 25px;
      width: 100%;


    }

    @media (max-height: 700px) {
      height: 540px;
      width: 100%;
    }

    .recommendWordAdress {
      font-family: 'Nunito';
      font-weight: 400;
      font-size: 20px;
      text-align: center;
      margin-bottom: 20px;
      line-height: 30px;


      @media (max-width: 700px) {
        line-height: 20px;
        font-size: 16px;
        margin-bottom: 0px;
        width: 105%;
      }
    }

    >div {
      display: flex;
      align-items: center;
      justify-content: center;

      >a {
        position: absolute;
        margin-right: 500px;

        >img {
          width: 40px;
          height: 40px;
        }
      }
    }

  }




}

.borderRed {
  border: 1px solid red !important;
}

h1 {
  font-family: 'Nunito';
  font-weight: 700;
  font-size: 46px;
  color: rgba(68, 77, 242, 1);
  display: flex;
  justify-content: center;
}


.validation-text {
  visibility: visible;
  /* Wenn die Nachricht angezeigt wird, bleibt sie sichtbar */
  font-size: 14px;
  width: 90%;
  color: red;


  @media (max-width: 720px) {
    width: 100%;


  }


  @media (max-width: 450px) {
    font-size: 12px;
  }
}





form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Nunito';
  width: 100%;





  .input-containers {

    display: flex;
    align-items: center;
    width: 500px;
    border-radius: 30px;
    background-color: #ECEEFE;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    margin-top: 30px;

    @media (max-width: 700px) {
      width: 100%;
    }

    @media (max-width: 450px) {
      font-size: 12px;
      margin-top: 15px;
    }

    >div {
      display: flex;
      align-items: center;
      width: 100%;
      gap: 10px;
      height: 40px;
      padding: 0px 0px 0px 20px;

      >input {
        border: none;
        width: 100%;
        background-color: transparent;

        &::placeholder {
          font-size: 18px;
          font-weight: 500;
          font-family: 'Nunito';
        }

        &:hover {
          outline: none !important;
          border-width: 0px !important;
          border: none !important;
        }

        &:focus {
          outline: none !important;
          border-width: 0px !important;
          border: none !important;
        }
      }
    }
  }
}

.checkbox-container {
  gap: 8px !important;
  background-color: transparent !important;
}

.borderPurple {
  border: 1px solid #535af1 !important;
}

.button-container {
  display: flex;
  justify-content: end;
  background-color: transparent !important;
  width: 80%;

  >input {
    &:disabled {
      background-color: transparent;
      color: grey;
      border: 1px solid grey;
    }

    background-color: rgb(61, 61, 247);
    color: white;
    padding: 16px;
    border-radius: 100px;
    border: 1px solid rgb(61, 61, 247);
    cursor: pointer;
  }
}



.checkbox-container {
  display: flex;
  width: 100%;
  margin-top: 30px;

}

.invalid-placeholder::placeholder {
  color: red !important;
}

.empty-input-Name {
  border: 2px solid red !important;
  color: red !important;
}

.overlay_register {
  overflow: hidden;
  height: 100vh;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  display: none;

  >div {
    animation: slidein ease-in-out 1.2s forwards;
    display: flex;
    align-items: center;
  }
}

.d-flex {
  display: flex;
}

@keyframes slidein {
  from {
    transform: translateX(500px);
  }

  to {
    transform: translateX(0);
  }
}



@media(max-width:520px) {

  h1 {
    font-size: 40px;

  }

  .register-container {
    >.register-card {
      >span {
        font-size: 18px;
        width: 372px;
      }

      ;

      >div {
        >a {
          margin-right: 380px;
        }

      }
    }
  }

  form {
    >div {
      width: 372px;
    }
  }
}


@media(max-width: 400px) {

  h1 {
    font-size: 30px;

  }

  .register-container {
    >.register-card {
      >span {
        font-size: 18px;
        width: 305px;
      }

      ;

      >div {
        >a {
          margin-right: 300px;
        }

      }
    }
  }

  form {
    font-size: 15px;

    >div {
      width: 250px;
    }
  }
}