 <div  class="main-chat-feed">
            <div class="channel-info">
                <div>
                    <img class="channel-Info-Img" src="../../../assets/img/Logo.png" alt="">
                </div>
                <div class="channel-Info-container">

                    <span class="welcome-span">Willkomen {{this.actualUser[0].name}} erstelle einen Channel !</span>


                    <span>erstelle einen Channel Für ein projekt oder Team um dich mit deinen Kollegen austauschen zu
                        können</span>
                </div>
            </div>
        </div>