<div class="main-chat-wrapper">
    <div class="main-chat-header">
        <div class="message-group">
            <div class="actual-group">
                <img src="assets/img/tag.png" alt=""><span class="fontNunito">Entwicklerteam</span>
            </div>
            <img class="arrow_down" src="assets/img/keyboard_arrow_down.svg" alt="">
        </div>
        <div class="actual-group-members">
            <div class="members-avatar-group">
                <div class="avatar" style="background-image: url('assets/img/avatar_2_square.png');"></div>
                <div class="avatar" style="background-image: url('assets/img/avatar_3_square.png');"></div>
                <div class="avatar" style="background-image: url('assets/img/avatar_4_square.png');"></div>
            </div>
            <span class="fontNunito">3</span>
            <img src="assets/img/add_members.png" alt="">
        </div>
    </div>
    <div class="main-chat-feed" #chatFeed>
        <app-message *ngFor="let message of allMessages, index as i"
        [messageData]="message"
        [date]="message.sendAt"
        [dateExists]="i > 0 && allMessages[i - 1].sendAt === message.sendAt"
        [avatarSrc]="message.avatar"
        [name]="message.name"
        [time]="message.sendAtTime"
        [messageText]="message.messageText"
        [reaction]="message.reaction"
        [isOwn]="message.isOwn"
        [isAnswered]="message.isAnswered"
        [isThread]="message.isThread"
        [isInThread]="message.isInThread">
        </app-message>
    </div>
    <div class="input-wrapper">
        <div class="main-chat-message">
        <textarea [(ngModel)]="message.messageText" type="text" class="fontNunito" placeholder="Nachricht an #Entwicklerteam" wrap="soft"></textarea>
        <div class="message-icons">
            <div>
            <img src="assets/img/emoji.png" alt="">
            <img src="assets/img/at.png" alt="">
            </div>
            <img (click)="addMessage()" src="assets/img/send.png" alt="">
        </div>
        </div>
    </div>
</div>