<app-profile-card [currentmessageUser]="currentmessageUser"  [currentUserId]="currentUserId" [currentmessageAvatar]="currentmessageAvatar" [currentmessageStatus]="currentmessageStatus" [currentmessageEmail]="currentmessageEmail" ></app-profile-card>


<div class="main-chat-wrapper">
    <div class="main-chat-header">
        <div class="message-group">
            <div (click)="this.profilecardservice.openProfileCard()" class="actual-group">
                <div class="profile">
                    <img class="avatar" src="assets/img/avatar_{{ currentmessageAvatar }}.png" alt="avatar">
                    <img class="status" src="assets/img/{{ currentmessageStatus }}.svg" alt="status">
                </div>

                <span class="fontNunito">{{ currentmessageUser }}</span>
            </div>

        </div>

    </div>

    <div class="main-chat-feed" #chatFeed (scroll)="onScroll()" [ngStyle]="allConversationMessages.length === 0 ? {'justify-content':'flex-end'} : {}">
            <ng-container *ngIf="this.mainservice.showdirectmessage">
            <div class="conversation-feed"  *ngFor="let convMsg of allConversationMessages; let i = index">
                <app-direct-message 
                *ngIf="!convMsg.isThread"
                [messageData]="convMsg"
                (replyClicked)="onReplyToMessage($event)"
                [name]="loadConversationMessageSender(convMsg) ?? ''"
                [avatarSrc]="loadConversationMessageSenderAvatar(convMsg)"
                [isOwn]="convMsg.isOwn"
                [isThread]="convMsg.isThread"
                [isInThread]="convMsg.isInThread"
                [messageText]="convMsg.text"
                [isAnswered]="convMsg.isAnswered"
                [dateExists]="i > 0 && isSameDate(allConversationMessages[i - 1].timestamp, convMsg.timestamp)"
                >
                </app-direct-message>
            </div>
        </ng-container>
        <div class="intro" *ngIf="allConversationMessages.length === 0">
            <div class="intro-head">
                <img src="assets/img/avatar_{{ currentmessageAvatar }}_square.png" alt="avatar">
                <p (click)="this.profilecardservice.openProfileCard()" >{{ currentmessageUser }}</p>
            </div>
            <div class="intro-text">
                @if(this.actualUser == this.currentmessageUser) {
                    <p><span class="intro-own-text">Dieser Raum ist nur für dich da.</span> Mache dir Notizen, liste deine To-dos auf oder bewahre Links und Dateien griffbereit auf. Du kannst hier auch gerne Dinge mit dir selbst besprechen.</p>
                } @else if(this.actualUser != this.currentmessageUser) {
                    <p>Diese Unterhaltung findet nur zwischen <a (click)="this.profilecardservice.openProfileCard()">&#64;{{ currentmessageUser }}</a> und dir statt.</p>
                }

            </div>
        </div>
    </div>
    <div class="input-wrapper">
        <div class="main-chat-message">
            <textarea [(ngModel)]="newConvMessage" type="text" class="fontNunito" placeholder="Nachricht hier eingeben" wrap="soft"></textarea>
            <div class="message-icons">
                  <div  #emojiComponent class="emojiWindow" *ngIf="toggleEmoji">
                    <emoji-mart set="apple"  title="Pick your emoji…" emoji="point_up" 
                        [totalFrequentLines]="2" [showSingleCategory]="true" [emojiTooltip]="false" [autoFocus]="true" [showPreview]="true"   theme="dark"
                        [perLine]="7" (emojiSelect)="addEmoji($event)"></emoji-mart>
                        </div> 
                <div>
                   <img src="assets/img/emoji.png" alt="" (click)="onEmojiButtonClick($event)">
                   
                </div>
                <img (click)="addConversationMessage()" src="assets/img/send.png" alt="">
            </div>
        </div>
    </div>
</div>