@import './../../../styles.scss';

.main-chat-wrapper {
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 30px;
    height: 100%;

}

.main-chat-header {
    height: 96px;
    box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;

    .message-group {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 45px;
        gap: 18px;
      

        img {
            width: 50px;
            height: 50px;
        }

        .arrow_down {
            width: 14px;
            height: 8.19px;
        }

        .actual-group {
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            transition: all 175ms ease-in-out;
            &:hover{
                transform: scale(1.1);
                
            }
           
           

            span {
                font-weight: 700;
                font-size: 24px;
            }
             >.profile {
                position: relative;
                >.avatar {
                    width: 50px;
                    height: 50px;
                    z-index: 1;
                }
                >.status {
                    z-index: 2;
                    position: absolute;
                    right: 0;
                    bottom: 8px;
                    width: 14px;
                    height: 14px;
                }
            }
        }
    }
}


.main-chat-feed {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: calc(100% - 321px);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
}

.input-wrapper {
    padding: 38px 35px 40px 35px;
}

.main-chat-message {
    height: 145px;
    border-radius: 20px;
    border: 1px solid #ADB0D9;
    position: relative;

    textarea {
        border: none;
        width: calc(100% - 40px);
        padding: 20px 20px;
        height: calc(100% - 100px);
        background-color: transparent;
        resize: none;

        &:focus {
            outline: none;
        }
    }

    .message-icons {
        position: absolute;
        width: calc(100% - 40px);
        bottom: 20px;
        left: 20px;
        display: flex;
        justify-content: space-between;

        img {
            width: 40px;
            height: 40px;
            cursor: pointer;
        }

    }
}


.overlay-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    /* Grau, halbtransparent */
    z-index: 1000;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;


}

.profile-Container{
padding: 48px;
    background-color: #FFFFFF;
    width:700px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 50px;
    
}

.container-Header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    >span{
        font-size: 48px;
       
    }
    >img{
        cursor: pointer;
    }
}

.container-img{
    display: flex;
    justify-content: center;

}

.container-Name{
    >span{
        font-size: 48px
    };
}

.container-Status{
    display: flex;
    align-items: center;
    >img{
        height: 30px;
        width: 30px;
    }

    >span{
font-size: 28px;

    }
}

.status-online {
    color: rgb(28, 153, 28);
  }
  
  .status-offline {
    color: gray;
  }

  .container-Email{
    display: flex;
    flex-direction: column;
    gap: 8px
    ;
   >.email-Header{
    display: flex;
    align-items: center;
    >img{
        width: 30px;
        height: 30px;
    }
    >span{
        font-size: 24px;
    }
   }
  }

  .button-container{
    display: flex;
    justify-content: center;

    >.button{
        background-color: #444DF2;
    color: white;
    border: 1px solid #444DF2;
    font-size: 16px;
    padding: 8px;
    border-radius: 20px;
    cursor: pointer;

    &:hover{
        background-color: #636af1;
        border: 1px solid #636af1;
    }
    }
  }

.intro {
    padding: 0 45px 0 45px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    >.intro-head {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        gap: 16px;
        > img {
            width: 100px;
            height: 100px;
            border-radius: 100px;
        }
        > p {
            font-weight: 700;
            font-family: $font-primary;
            font-size: 24px;
            color: #000000;
            margin-bottom: 10px;
            cursor: pointer;
            &:hover {
                color: #535AF1;
            }
        }
    }
    >.intro-text {
        >p {
            font-family: $font-primary;
            font-size: 20px;
            font-weight: 400;
            color: #686868;
            >.intro-own-text {
                font-weight: 700;
            }
            >a {
                color: #535AF1;
                &:hover {
                    font-weight: 700;
                }
            }
        }
    }
}