<div class="allUser">

    <mat-card appearance="outlined">
        <mat-card-content>
            <div class="userList-Container">
                <div class="headline">
                <h1>Benutzer hinzufügen</h1>
                <img class="closeIcon" src="assets/img/close.png" alt="" (click)="closeDialog()">
                </div>
                <div class="channelHeadline">
                    <img src="assets/img/tag_purple.png" alt="">
                    <h3>{{data.currentChannelName}}</h3>
                    <span></span>
                </div>
            <section class="actualUserList">
                <div class="users">
                    <main class="userContainer">
                    <div class="profile" *ngFor="let member of this.memberList let i = index">
                        <div class="avatarImages">
                        <img  class="avatar" src="assets/img/avatar_{{member.avatar}}.png" alt="avatar">
                        <img class="status" src="assets/img/{{member.status}}.svg" alt="status">
                        </div>
                        <div class="username">
                    <p class="name"> {{ member.name }}</p>
                    <img src="assets/img/close.png"(click)="deleteUser(i, member)" alt="">
                    </div>
                    </div>
                    <div class="further-user">
       
                             <input (input)="filterUsers()" [(ngModel)]="searchUser"  type="text" placeholder="Eingabe erforderlich" #name="ngModel">
                    </div>
                </main>
                </div>
                <div class="newUser" [ngClass]="{'smallList': this.newUserList.length ===0}" *ngIf="searchUser.trim().length >= 2">

                    <div *ngIf="this.newUserList.length ===0 && searchUser.trim().length >= 1" class="userlengthisFull">
                        <span> du hast alle Benutzer ausgewählt</span>
                    </div>
        
                    <div  class="profileNewUser" (click)="addNewUser(user)" *ngFor="let user of this.filterUserList">
                        <div class="avatarImagesNewUser">
                            <img  class="avatarNewUser" src="assets/img/avatar_{{user.avatar}}.png" alt="avatar">
                            <img class="statusNewUser" src="assets/img/{{user.status}}.svg" alt="status">
                            </div>
                        <p class="name"> {{ user.name }}</p>
                            
                    </div>
                
                </div>
                    <div class="add_members">
                   <button (click)="addNewUserInFirebase()" class="addUser" type="button">Hinzufügen</button>
    
                    </div>  
                </section>
            </div>
        </mat-card-content>
      </mat-card>
    </div>
