<div *ngIf="overlayeditChannel" class="overlay-bg" (click)="closeOverlay()">

    <form (ngSubmit)="updateChannel($event, channelForm,currentChannelID)" #channelForm="ngForm">
        <div [ngClass]="{'opacity': overlayeditChannel}" class="profile-dialog" (click)="onDialogClick($event)">

            <div class="dialog-Headline">
                <span>#{{currentChannelName}}</span>
                <img src="../../../assets/img/close.png" alt="" (click)="closeOverlay()">

            </div>
            <div class="dialog-name">
                <div class="channel-name-Container">
                    <span>Channel-Name</span>
                    <span *ngIf="!editName" class="edit-span" (click)="startEditName()">Bearbeiten</span>
                    <span *ngIf="editName"class="edit-span" (click)="saveName()" >Speichern</span>
                </div>
                <span *ngIf="!editName" class="current-Name">#{{currentChannelName}}</span>


                <div *ngIf="editName" class="input-channel-name-container">
                    <img src="../../../assets/img/tag-grey.png" alt="">
                    <input [(ngModel)]=" currentChannelName" type="text" name="name"
                        placeholder=" z.B Kooperationsprojekte" #name="ngModel" required>
                </div>
            </div>
            <div class="dialog-description">

                <div class="channel-description-Container">
                    <span>Beschreibung</span>
                    <span *ngIf="!editDescription" class="edit-span" (click)="startEditDescription()">Bearbeiten</span>
                    <span *ngIf="editDescription"class="edit-span" (click)="saveDescription()" >Speichern</span>

                    
                </div>
                <span *ngIf="!editDescription" class="current-Description">{{currentChannelDescription}}</span>
                <div *ngIf="editDescription" class="input-channel-description-container">
                    <input [(ngModel)]="currentChannelDescription" type="text" name="description" id=""
                        placeholder="Dein Text hier" #description="ngModel" required>
                </div>

                <div class="creator-container">
                    <span>Erstellt von</span>
                    <span class="current-Creator">{{currentChannelCreator}}</span>
                </div>




              
            </div>

            <div class="button-container">
                <button (click)="deleteChannel()" class="delete-Button">Channel Löschen</button>
                <input [disabled]="" type="submit" value="Erstellen">

               


            </div>



        </div>
    </form>

</div>


<div class="main-chat-wrapper">
    <div class="main-chat-header">
        <div (click)="openoverlay()" class="message-group">
            <div class="actual-group">
                <img src="assets/img/tag.png" alt=""><span class="fontNunito">{{currentChannelName}}</span>
            </div>
            <img class="arrow_down" src="assets/img/keyboard_arrow_down.svg" alt="">
        </div>
        <div class="actual-group-members">
            <div class="members-avatar-group">
                <div class="avatar" style="background-image: url('assets/img/avatar_2_square.png');"></div>
                <div class="avatar" style="background-image: url('assets/img/avatar_3_square.png');"></div>
                <div class="avatar" style="background-image: url('assets/img/avatar_4_square.png');"></div>
            </div>
            <button type="button" mat-button class="fontNunito" (click)="openDialog()">3</button>
            <img src="assets/img/add_members.png" alt="">
        </div>
    </div>
    <div class="main-chat-feed">

    </div>
    <div class="input-wrapper">
        <div class="main-chat-message">
            <textarea type="text" class="fontNunito" placeholder="Nachricht an #Entwicklerteam" wrap="soft"></textarea>
            <div class="message-icons">
                <div>
                    <img src="assets/img/emoji.png" alt="">
                    <img src="assets/img/at.png" alt="">
                </div>
                <img src="assets/img/send.png" alt="">
            </div>
        </div>
    </div>
</div>