$font-primary: 'Nunito', sans-serif;
$font-secondary: 'Figtree', sans-serif;

* {
    margin: 0;
    background-color: #ECEEFE;
    font-family: $font-primary !important;
}

.fontNunito {
    font-family: 'Nunito';
}

.fontFigtree {
    font-family: 'Figtree';
  }

header {
    display: flex;
    justify-content: space-between;

    @media (max-width: 720px) {
        padding: 0px;     
        justify-content: center;  
}


}

.logoSection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
    .logo {
        width: 100px;
        height: 100px;
    }
    h2 {
        font-size: 40px;
        font-weight: 700;
        color: black;
        margin: 0;
        padding: 0;
    }
}

@media (max-width: 720px) {
    .logoSection {
        .logo {
            width: 70px;
            height: 70px;
        }
        h2 {
            font-size: 40px;
        }
    }
}


@media (max-width: 500px) {
.logoSection {
        .logo {
            width: 56px;
            height: 56px;
        }
           h2 {
            font-size: 32px;
        }
    }

}