$font-primary: 'Nunito', sans-serif;
$font-secondary: 'Figtree', sans-serif;

* {
    margin: 0;
    background-color: #ECEEFE;
    font-family: $font-primary !important;
}

.fontNunito {
    font-family: 'Nunito';
}

.fontFigtree {
    font-family: 'Figtree';
  }

header {
    display: flex;
    justify-content: space-between;

    @media (max-width: 720px) {
        padding: 0px;     
        justify-content: center;  
}

@media (max-width: 450px)  {
    margin-bottom: 60px;
}
}

.logoSection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
    .logo {
        width: 130px;
        height: 130px;
    }
    h2 {
        font-size: 32px;
        font-weight: 700;
        color: black;
        margin: 0;
        padding: 0;
    }
}

@media (max-width: 900px) {
    .logoSection {
        .logo {
            width: 70px;
            height: 70px;
        }
        h2 {
            font-size: 24px;
        }
    }
}