<app-header></app-header>
<section class="privacy">
    <div class="box">
        <div class="content">
            <img routerLink="/" src="assets/img/arrow_back.svg" alt="back">
            <header>
                <h1 class="headline">Datenschutzerklärung</h1>
            </header>
            <main>
                <div>
                    <h2 class="subheadline">1. Einleitung</h2>
                    <p class="text">Wir nehmen den Schutz Ihrer persönlichen Daten sehr ernst. Mit dieser Datenschutzerklärung möchten wir Sie darüber informieren, wie wir Ihre Daten im Rahmen der Nutzung unseres Chat-Messengers verarbeiten und schützen.</p>
                </div>
            
                <div>
                    <h2 class="subheadline">2. Erhebung und Verarbeitung von Daten</h2>
                    <p class="text">Beim Gebrauch unseres Messengers werden bestimmte Daten erfasst, die für die Nutzung des Dienstes erforderlich sind. Hierzu gehören:</p>
                    <ul class="list">
                        <li>Ihr Benutzername</li>
                        <li>Ihr Avatar</li>
                        <li>Chat-Nachrichten</li>
                    </ul>
                </div>
            
                <div>
                    <h2 class="subheadline">3. Zweck der Datenverarbeitung</h2>
                    <p class="text">Die erhobenen Daten werden verwendet, um den Dienst bereitzustellen und die Kommunikation zwischen den Nutzern zu ermöglichen. Wir verwenden Ihre Daten nicht für Werbung oder andere Zwecke ohne Ihre ausdrückliche Zustimmung.</p>
                </div>
            
                <div>
                    <h2 class="subheadline">4. Weitergabe von Daten</h2>
                    <p class="text">Eine Weitergabe Ihrer personenbezogenen Daten an Dritte erfolgt nur, wenn dies zur Erfüllung des Vertrages oder aufgrund gesetzlicher Vorschriften erforderlich ist.</p>
                </div>
            
                <div>
                    <h2 class="subheadline">5. Ihre Rechte</h2>
                    <p class="text">Sie haben das Recht, Auskunft über die von uns gespeicherten personenbezogenen Daten zu erhalten und diese gegebenenfalls berichtigen oder löschen zu lassen.</p>
                </div>
            </main>
            <footer>
                <p class="text">Diese Datenschutzerklärung wurde zuletzt am 01.04.2025 aktualisiert.</p>
            </footer>
        </div>
    </div>
</section>

