<header class="headerContainer">

    <app-header></app-header>

</header>

<main>

    <section>

        <div class="choose-avatar-card">

            <div class="headline">
                <a routerLink="/signUp"><img src="assets/img/13. Go back.png" alt="" (click)="deleteUser()"></a>
                <h1>Wähle dein Avatar</h1>
            </div>

            <div class="avatar-Section">

                <img class="avata_img" src="assets/img/avatar_large_{{ avatarImgNumber }}.png" alt="">
                <h2> {{ registerName}}</h2>

            </div>

            <div class="choose-Avatar">

                <span> Aus der Liste wählen</span>

                <div>
                    <div> <img (click)="avatarSelection(2)" src="assets/img/avatar_2.png" alt=""></div>
                    <div> <img (click)="avatarSelection(3)" src="assets/img/avatar_3.png" alt=""></div>
                    <div> <img (click)="avatarSelection(4)" src="assets/img/avatar_4.png" alt=""></div>
                    <div> <img (click)="avatarSelection(5)" src="assets/img/avatar_5.png" alt=""></div>
                    <div> <img (click)="avatarSelection(6)" src="assets/img/avatar_6.png" alt=""></div>
                    <div>  <img (click)="avatarSelection(7)" src="assets/img/avatar_7.png" alt=""></div>
                </div>

            </div>

            <div class="next-button">
                <button (click)="SelectAvatarImg()"> Weiter</button>
            </div>

        </div>

    </section>

</main>

<div class="links">

    <a routerLink="" class="imprintAndPrivacy">Impressum</a>
    <a routerLink="" class="imprintAndPrivacy">Datenschutz</a>
    
</div>