$font-primary: 'Nunito', sans-serif;
$font-secondary: 'Figtree', sans-serif;

body {
    margin: 0;
    background-color: #ECEEFE;
    font-family: $font-primary !important;
    overflow: hidden;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    max-width: 1980px;
    text-align: center;
    overflow: hidden;

     @media (max-width: 600px) and (max-height: 800px) {
            overflow-y: auto;
        }

    @media (max-width: 400px) and (max-height: 700px) {
            overflow-y: hidden;
        }

             @media (max-width: 400px) and (max-height: 800px) {
              overflow-y: hidden;
        }

            @media (max-width: 550px) and (max-height: 730px) {
            overflow-y: hidden;
        }


}

.fontNunito {
    font-family: 'Nunito';
}

.fontFigtree {
    font-family: 'Figtree';
}

.introContainer {

    @media (max-width: 720px) {
        position: absolute;
        top: 0;
        left: 160px;
        right: 0;
        bottom: 0;

    }
}

.introCard {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: none-animation ease-in-out 600ms forwards 1.2s;
    z-index: 10;
    height: 100%;
    width: 100%;
}

.newPosition {
    position: relative !important;
    margin-left: 80px !important; 
}



@keyframes none-animation {
    from {
        z-index: 10;
    }

    to {
        z-index: -99;
    }
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px 0px 20px;
    width: 100%;

    @media (max-width: 720px) {
         padding: 30px 0px 0px 50px;
        position: relative;
        justify-content: center;
    }

        @media (max-height: 720px) {
          padding: 20px 0px 10px  80px!important;

    }

       @media (max-width: 600px) and (max-height: 800px) {
            padding: 90px 0px 10px 80px;
        }


        
       @media (max-width: 400px) and (max-height: 800px) {
            padding: 10px 0px 10px 80px;
        }

             @media (max-width: 1030px) and (max-height: 600px) {
                 padding: 20px 0px 10px 0px !important;
        }

}

.newRegistration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;

    span {
        color: black;
        font-weight: 400;
        font-size: 18px;
    }

    @media (max-width: 720px) {
        display: none;
    }

}

.imprintAndPrivacy {
    color: #797EF3;
    font-weight: 400;
    font-size: 18px;
    padding: 10px;
    border-radius: 100px;
    border: solid 1px transparent;
    font-family: $font-secondary !important;
    text-decoration: none;
    height: 15px;
    &:hover {
        border-color: #797EF3;
    }
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;


      @media (max-width: 1200px) and (max-height: 1500px) {
           justify-content: start;
        }

         @media (max-width: 450px) and (max-height: 950px) { 
            justify-content: center;
        }

        @media (max-width: 400px) and (max-height: 700px) {
              justify-content: center;
        }
        

             @media (max-width: 400px) and (max-height: 800px) {
              justify-content: center;
        }

            @media (max-width: 550px) and (max-height: 730px) {
            justify-content: center;
        }

}
.introSectionLogo {
    margin-left: -15px;


      @media (max-width: 720px) {
            margin-left: 100px;
            justify-content: space-around;
        }
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
       .logo {
        width: 100px;
        height: 100px;
       }


           h1 {
        font-size: 32px;
        font-family: $font-primary;
        font-weight: 700;
        color: black;
        overflow: hidden;
        padding-bottom: 15px;

        @media (max-width: 720px) {
            padding-bottom: 10px;
        }

        @media (max-width: 500px) {
            font-size: 32px;
            transform: translateX(-20px);
            margin-left: 20px;
        }
    }
}


.loginSection {
    width: 610px;
    height: 680px;
    min-height: 500px;
    display: flex;
    justify-content: center;
    background-color: #FFFF;
    border-radius: 30px;
    box-sizing: border-box;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    margin-left: 24px;
    margin-right: 24px;

    @media (max-width: 720px) {
        height: 600px;
        width: 100%;
    }

    
    @media (max-height: 720px) {
        height: 420px  !important;
        width: 100%;
        min-height: 400px;
        margin-left: 0px;
        margin-right: 0px;
   
    }

        @media (max-height: 900px) {
           height: 560px;
    }

      @media (max-width: 600px) and (max-height: 800px) {
            height: 550px;
        }


            @media (max-width: 400px) and (max-height: 800px) {
              height: 510px;
        }


            @media (max-width: 420px) and (max-height: 920px) {
              height: 550px;
        }


           @media (max-width: 550px) and (max-height: 730px) {
              height: 520px;
              min-height: 450px;
        }

          @media (max-width: 1290px) and (max-height: 800px) {
            height: 640px;
        }


}

.removeMargin {
  margin-top: 0px;
}


.input-Fields {
    width: 100%;
}

.links {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;

      @media (max-height: 720px) {
        margin-top: 0px;
    }
      @media (max-height: 900px) {
        margin-top: 20px;
    }

        @media (max-height: 1100px) and (max-width: 500px) {
        margin-top: 0px;
    }

      @media (max-width: 1200px) and (max-height: 1500px) {
             margin-top: 5px;
        }

          @media (max-width: 600px) and (max-height: 800px) {
            margin-top: 0px;
        }

          @media (max-width: 1290px) and (max-height: 800px) {
            margin-top: 0px;
        }
   
}

.loginCard {
    flex-direction: column;
    align-items: center;
    display: flex;
    padding: 35px 20px 20px 20px;

    @media (max-width: 720px) {
        padding: 35px 50px  20px 20px;
        flex: 1;
    }

    @media (max-width: 450px) {
        padding: 10px 20px 20px 10px;

    }

    
        @media (max-height: 720px) {
            padding: 20px 20px 20px 20px;
            flex: 0;
    }

    @media (max-height: 700px) {
        padding: 10px 0px 20px 0px; 

    }
        @media (max-height: 900px) {
        flex: 0;
    }

          @media (max-width: 1290px) and (max-height: 800px) {
                     padding: 30px 20px 20px 20px;
        }

    h1 {
        color: #444DF2;
        font-weight: 700;
        font-size: 46px;
        font-family: $font-primary;
        margin-block-end: 20px;

        @media (max-width: 720px) {
            font-size: 24px;
            max-width: 80%;
    
        }
    }

    .recommendWordAdress {
        font-weight: 400;
        font-size: 20px;
        text-align: center;
        line-height: 30px;

        @media (max-width: 720px) {
            font-size: 16px;
            line-height: 20px;
        }

        @media (max-height: 700px) {
            display: none;
        }
    }
}

.loginForm {
    width: 90%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-sizing: border-box;

    @media (max-width: 720px) {
        margin-top: 10px;
        flex-grow: 1;
        gap: 20px;
        width: 100%;
        align-items: center;
    }


    @media (max-height: 700px) {
        margin-top: 0px;
        gap: 15px;
        gap: 15px;
        margin-right: 25px;
        margin-left: 25px;
    }
}

.custom-input {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 10px;
    width: 100%;
    background-color: #ECEEFE;
    height: 40px;

    @media (max-width: 450px) {
        gap: 5px;
        width: 95%;
    }

    @media (max-height: 700px) {
        height: 30px;
        padding: 5px;
        margin-left: 5px;
        margin-right: 10px;
    }

         @media (max-width: 550px) and (max-height: 730px) {
                height: 30px;
        }
}

mat-icon {
    height: 24px;
    width: 24px;
}

.custom-input mat-icon {
    margin-right: 15px;
    color: gray;
    margin-left: 20px;

    @media (max-width: 450px) {
        margin-left: 10px;
        margin-right: 0px;
    }
}

.custom-input input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
    background: transparent;
}

mat-form-field {
    width: 100% !important;
    display: flex !important;
}

.overlay_register {
    overflow: hidden;
    height: 100vh;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    display: none;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    >div {
        animation: slidein ease-in-out 1.2s forwards;
        display: flex;
        align-items: center;
    }
}

@keyframes slidein {
    from {
        transform: translateX(500px);
    }

    to {
        transform: translateX(0);
    }
}

.d-flex {
    display: flex;
}

.full-width {
    width: 100%;
}

.borderPurple {
    border: 1px solid #535af1;
}

.errorText {
    display: flex;
    flex-direction: column;
}

.incorrect-input {
    font-size: 15px;
    color: red;
}

.forgottPassword {
    display: flex;
    justify-content: center;

    a {
        text-decoration: none;
        padding: 12px;
        color: #797EF3;
        font-weight: 400;
        font-size: 18px;

        &:hover {
            background-color: #ECEEFE;
            border-radius: 30px;
            font-weight: 500;
        }
    }
}

.buttonErrorDesign {
    height: 40px !important;
}

.line {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    gap: 10px;
}

hr {
    height: 1px;
    flex: 1;
    background-color: #adb0d9;
}

.googleLogin {
    height: 50px;
    border-radius: 100px;
    background-color: #ECEFEF;
    border: 1px solid #ccc;
    cursor: pointer;

    &:hover {
        border: 1px solid #535af1;
    }

    >div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;

          @media (max-height: 700px) {
        gap: 15px;
    }

        >a {
            text-decoration: none;
            color: #797EF3;
            font-weight: 400;
            font-size: 18px;

            &:hover {
                font-weight: 700;
            }
        }
    }

}

.loginButtons {
    display: flex;
    justify-content: center;
    gap: 60px;

    @media (max-width: 720px) {
        gap: 15px;
    }
}

.loginBtn {
    border-radius: 25px;
    padding-top: 15px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 15px;
    border: none;
    background-color: #444DF2;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.buttonloginErrorText {
    border-radius: 25px !important;
    padding-top: 10px !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
    padding-bottom: 10px !important;
}

.guestLoginBtn {
    border-radius: 25px;
    padding-top: 15px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 15px;
    border: solid 1px #444DF2;
    color: #444DF2;
    cursor: pointer;
    font-size: 16px;

    &:hover {
        border: solid 1px #444DF2;
        color: white;
        background-color: #444DF2;

    }
}

.newRegistrationMobileView {
    display: none;

    @media (max-width: 720px) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 15px;
        gap: 10px;
    }

    span {
        color: black;
        font-weight: 400;
        font-size: 18px;

        @media (max-height: 720px) {
        font-size: 16px;
    }
    }
}

.newAccountMobile {
    color: #797EF3;
    font-weight: 400;
    font-size: 18px;
    padding: 20px;
    border-radius: 100px;
    border: solid 1px #444DF2;
    font-family: $font-secondary !important;
    text-decoration: none;


        @media (max-height: 720px) {
         padding: 10px;
        font-size: 16px;
    }

    &:hover {
        font-weight: 500;
    }
}

.newAccount {
    color: #797EF3;
    font-weight: 400;
    font-size: 18px;
    padding: 20px;
    border-radius: 100px;
    border: solid 1px transparent;
    font-family: $font-secondary !important;
    text-decoration: none;

    &:hover {
        border-color: #444DF2;
    }
}