$font-primary: 'Nunito', sans-serif;
$font-secondary: 'Figtree', sans-serif;

body {
    margin: 0;
    background-color: #ECEEFE;
    font-family: $font-primary !important;
    overflow: hidden;
}

.fontNunito {
    font-family: 'Nunito';
}

.fontFigtree {
    font-family: 'Figtree';
  }

  .headerContainer {
    display: flex;
    justify-content: space-between;  
    align-items: center;             
    padding: 30px 20px 0px 20px;
    
    
    @media (max-width: 720px) {    
        justify-content: center;  
        padding: 25px;
}


@media (max-width: 450px) {    
    justify-content: center;  
    padding: 10px;
}


  }



.newRegistration {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    span {
        color: black;
        font-weight: 400;
        font-size: 18px;
    }

    @media (max-width: 720px) {    
        display: none;
}

}


.imprintAndPrivacy {
    color: #797EF3;
    font-weight: 400;
    font-size: 18px;
    padding: 10px;
    border-radius: 100px;
    border: solid 1px #ECEEFE;
    font-family: $font-secondary !important;
    text-decoration: none;
    &:hover {
        border-color: #797EF3;
    }
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}


section {
    width: 610px;
    height: 680px;
    min-height: 500px;
    display: flex;
    justify-content: center;
    background-color: #FFFF;
    border-radius: 30px;
    box-sizing: border-box;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    margin-left: 24px;
    margin-right: 24px;
    


    @media (max-width: 720px) {    
        height: 600px;
}

@media (max-height: 700px) {
    height: 460px;
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
    min-height: 460px;    
}

@media (max-width: 450px) {
    margin-left: 10px;
    margin-right: 10px;   
}


}

.input-Fields {
    width: 100%;
}

.links {
    display: flex;
    justify-content: center;
    gap:10px;
    margin-top: 40px;

    
    @media (max-width: 720px) {    
  display: none;
}
}

.loginCard {
    flex-direction: column;
    align-items: center;
    display: flex;
    padding: 35px 20px 20px 20px;

    @media (max-width: 720px) {
        padding: 30px 20px 20px 20px;
        flex: 1;
           }

           @media (max-width: 450px) {
            padding: 10px 20px 20px 10px;
     
               }
           
    @media (max-height: 700px) {
        padding: 10px 20px 20px 20px;
    
}

    h1 {
        color: #444DF2;
        font-weight: 700;
        font-size: 46px;
        font-family: $font-primary;
        margin-block-end: 20px;


        @media (max-width: 720px) {
            font-size: 24px;
               }
    }

    .recommendWordAdress {
        font-weight: 400;
        font-size: 20px;
        text-align: center;
        line-height: 30px;

        @media (max-width: 720px) {
            font-size: 16px;
            line-height: 20px;
            }


            @media (max-height: 700px) {
                display: none;
            }
    }
}
.loginForm {
    width: 90%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media (max-width: 720px) {
        margin-top: 10px;
        flex-grow: 1;
        gap: 20px;
    }

    @media (max-width: 450px) {
    }

    @media (max-height: 700px) {
        margin-top: 0px;
        gap: 15px;
    }

}

.custom-input {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 30px; 
    padding: 10px;
    width: 100%;
    background-color :#ECEEFE;
    height: 40px;

    @media (max-width: 450px) {
        gap: 5px;
        width: 95%;
        }

        @media (max-height: 700px) {
            height: 30px;
            padding: 5px;
            }
}

mat-icon {
    height: 24px;
    width: 24px;
}


.custom-input mat-icon {
    margin-right: 15px;
    color: gray;
    margin-left: 20px;


    @media (max-width: 450px) {
        margin-left: 10px;
        margin-right: 0px;
    }
}

.custom-input input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
    background: transparent;



}

mat-form-field {
    width: 100% !important;
    display: flex !important;
}


.full-width {
    width: 100%;
}

.borderPurple {
    border: 1px solid #535af1;
}

.incorrect-input {
    font-size: 14px;
    color: red;
}

.forgottPassword  {
    display: flex;
    justify-content: center;


    a {
        text-decoration: none;
        padding: 12px;
        color: #797EF3;
        font-weight: 400;
        font-size: 18px;
     &:hover {
        background-color: #ECEEFE;
        border-radius: 30px;
        font-weight: 500;
     }
    }
    

}


.buttonErrorDesign {
    height: 40px !important;
}
.line {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    gap: 10px;
}

hr {
    height: 1px;
    flex: 1;
    background-color: #adb0d9;
}


.googleLogin {
    height: 50px;
    border-radius: 100px;
    background-color: #ECEFEF;
    border: 1px solid #ccc;
    cursor: pointer;

    &:hover {
        border: 1px solid #535af1;
    }

    >div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;

        >a {
            text-decoration: none;
            color: #797EF3;
            font-weight: 400;
            font-size: 18px;

            &:hover {
                font-weight: 700;
             }
        }
    }

    
}



.loginButtons {
    display: flex;
    justify-content: center;
    gap: 60px;

    @media (max-width: 720px) {    
        gap: 15px;
}
}


.loginBtn {
    border-radius: 25px;
    padding-top: 15px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 15px;
    border: none;
    background-color: #444DF2;
    color: white;
    cursor: pointer;




}

.buttonloginErrorText {
    border-radius: 25px !important;
    padding-top: 10px !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
    padding-bottom: 10px !important;
}


.guestLoginBtn {
    border-radius: 25px;
    padding-top: 15px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 15px;
    border: solid 1px #444DF2;
    color: #444DF2;
    cursor: pointer;
    
 


    &:hover{
        border: solid 1px #444DF2;
        color: white;
        background-color: #444DF2 ;
    
    }
}






.newRegistrationMobileView {
    display: none;

    @media (max-width: 720px) {    
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 15px;
        gap: 10px;
}

    span {
        color: black;
        font-weight: 400;
        font-size: 18px;
    }


}


.newAccountMobile {
    color: #797EF3;
    font-weight: 400;
    font-size: 18px;
    padding: 20px;
    border-radius: 100px;
    border: solid 1px #444DF2;
    font-family: $font-secondary !important;
    text-decoration: none;
    &:hover {
    font-weight: 500;
    }
}


.newAccount {
    color: #797EF3;
    font-weight: 400;
    font-size: 18px;
    padding: 20px;
    border-radius: 100px;
    border: solid 1px transparent;
    font-family: $font-secondary !important;
    text-decoration: none;
    &:hover {
    border-color: #444DF2;
    }
}