<div class="thread-wrapper">
    <div class="thread-header">
        <div class="thread-group">
            <span class="fontNunito">Thread</span><img *ngIf="selectedMessage" src="assets/img/tag-purple.png" alt="hashtag"><span *ngIf="selectedMessage" class="thread-actual-group">{{selectedMessage.channelName}}</span>
        </div>
        <img class="close" src="assets/img/close.png" alt="close" (click)="closeThreads()">
    </div>
    <div class="thread-feed" *ngIf="selectedMessage">
        <div class="thread-message">
         <app-message
            [avatarSrc]="selectedMessage.avatar"
            [name]="selectedMessage.name"
            [time]="selectedMessage.sendAtTime"
            [messageText]="selectedMessage.messageText"
            [isInThread]="true"
            [isOwn]="selectedMessage.isOwn"
            [emojiReactionsThead]="emojiReactions.get(selectedMessage.messageId)"
            [selectedMessageId]="selectedMessage.messageId"
            [selectedChannelId]="selectedMessage.channelId"
            [selectedUserId]="selectedMessage.id"
            [isThreadRootMessage]="true"
            >

         </app-message>
            <div class="thread-number-of-answers">
                <span class="fontNunito">{{  threadCount$ | async  }} Antworten</span>
                <div class="line"></div></div>
        </div>
        <div class="thread-answers" #threadFeed>
             <app-message *ngFor="let answer of threadAnswers, index as i"
            [messageData]="answer"
            [date]="answer.sendAt"
            [dateExists]="i > 0 && threadAnswers[i - 1].sendAt === answer.sendAt"
            [avatarSrc]="answer.avatar"
            [name]="answer.name"
            [time]="answer.sendAtTime"
            [messageText]="answer.messageText"
            [isThread]="true"
            [isOwn]="answer.isOwn"
            [emojiReactionsThead]="emojiReactions.get(answer.messageId)"
            [channelIdThread]="answer.channelId"
            [threadAnswersId]="answer.messageId"
            [threadAnswersUserId]="answer.id"
            [dateExists]="i > 0 && isSameDate(threadAnswers[i - 1].timestamp, answer.timestamp)"
        ></app-message>
        </div>
    </div>

        <div class="thread-feed" *ngIf="selectedConvMessage">
        <div class="thread-message">
         <app-direct-message
            [messageData]="selectedConvMessage"
            [avatarSrc]="selectedConvMessage.avatar"
            [name]="selectedConvMessage.name"
            [time]="this.formatTime(selectedConvMessage.timestamp)"
            [messageText]="selectedConvMessage.text"
            [isInThread]="true"
            [isOwn]="selectedConvMessage.isOwn"
            [emojiReactionsThead]="emojiReactions.get(selectedConvMessage.id)"
            >
         </app-direct-message>
            <div class="thread-number-of-answers">
                <span>
                         {{ threadCount$ | async }} Antworten
                </span>
            <div class="line"></div></div>
        </div>
        <div class="thread-answers" #threadFeed>
             <app-direct-message *ngFor="let answer of threadConvAnswers, index as i"
            [messageData]="answer"
            [date]="this.formatDate(answer.timestamp)"
            [avatarSrc]="answer.avatar"
            [name]="answer.name"
            [time]="this.formatTime(answer.timestamp)"
            [messageText]="answer.text"
            [isThread]="true"
            [isOwn]="answer.isOwn"
            [emojiReactionsThead]="emojiReactions.get(answer.id)"
            [dateExists]="i > 0 && isSameDate(threadConvAnswers[i - 1].timestamp, answer.timestamp)"
            [selectedMessage]="selectedConvMessage"
        ></app-direct-message>
        </div>
    </div>
    <div class="thread-input-wrapper">
           <ng-container *ngIf="toggleMemberInThread" >
            <app-add-member-to-thread  #addMember (memberSelected)="insertMemberIntoTextarea($event)"
                [members]="members"  
               ></app-add-member-to-thread>
               </ng-container>






        <div class="thread-input">
            <textarea type="text" class="fontNunito" placeholder="Antworten" wrap="soft" [(ngModel)]="newThreadText"></textarea>
            <div class="thread-input-icons">

                
                   <div  #emojiComponent class="emojiWindow" *ngIf="toggleEmoji">
                    <emoji-mart set="apple"  title="Pick your emoji…" emoji="point_up" 
                        [totalFrequentLines]="2" [showSingleCategory]="true" [emojiTooltip]="false" [autoFocus]="true" [showPreview]="true"   theme="dark"
                        [perLine]="7" (emojiSelect)="addEmoji($event)"></emoji-mart>
                        </div>

                <div class="imgChat">

                <div>
                    <img #addEmojiImg src="assets/img/emoji.png" alt="emoji" (click)="openEmojiWindow()">
                </div>
                    <img *ngIf="selectedMessage" src="assets/img/send.png" alt="send" (click)="sendReply()">
                    <img *ngIf="selectedConvMessage" src="assets/img/send.png" alt="send" (click)="sendConvReply()">



           
             
            </div>
        </div>
    </div>
</div>