<div class="thread-wrapper">
    <div class="thread-header">
        <div class="thread-group">
            <span class="fontNunito">Thread</span><img src="assets/img/tag-purple.png" alt="hashtag"><span class="thread-actual-group">Entwicklerteam</span>
        </div>
        <img class="close" src="assets/img/close.png" alt="close">
    </div>
    <div class="thread-feed">
        <div class="thread-message">
            <app-message></app-message>
            <div class="thread-number-of-answers"><span class="fontNunito">2 Antworten</span><div class="line"></div></div>
        </div>
        <div class="thread-answers"></div>
    </div>
    <div class="thread-input-wrapper">
        <div class="thread-input">
            <textarea type="text" class="fontNunito" placeholder="Antworten" wrap="soft"></textarea>
            <div class="thread-input-icons">
                <div>
                    <img src="assets/img/emoji.png" alt="emoji">
                    <img src="assets/img/at.png" alt="at">
                </div>
                    <img src="assets/img/send.png" alt="send">
            </div>
        </div>
    </div>
</div>