@import './../../../styles.scss';

.channel-menu {
    position: relative;
    background-color: #FFFFFF;
    border-radius: 30px;
    padding: 32px 30px 32px 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: calc(100% - 64px);
    width: 80%;
    >.head {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 25px;
        >div {
            display: flex;
            align-items: center;
            gap: 15px;

            >img {
                width: 60px;
                height: 60px;
            }

            >h3 {
                margin: 0;
                padding: 0;
                color: #000000;
                font-family: $font-primary;
                font-size: 24px;
                font-weight: 700;
            }
        }
    }
    >.mobile {
        display: none;
    }

    >.channels {
        display: flex;
        flex-direction: column;
        gap: 25px;
        max-width: 90%;

        >.head-channels {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            >.head-left {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 15px;

                >.toggle-channel-menu {
                    cursor: pointer;
                }


                >h4 {
                    margin: 0;
                    font-family: $font-primary;
                    font-weight: 700;
                    font-size: 20px;
                    color: #000000;
                }
            }

            >.add-img {
                >img {
                    cursor: pointer;
                }

            }
        }



        >.channels-menu {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 13px;
            padding: 4px 20px 4px 20px;

            >.channel {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                cursor: pointer;

                >p {
                    text-align: center;
                    margin: 0;
                    font-family: $font-primary;
                    font-size: 18px;
                    font-weight: 700;
                    color: #000000;
                    padding: 4px 20px 4px 20px;

                    &:hover {
                        color: #535AF1;
                        background-color: #ECEEFE;
                        border-radius: 20px;
                    }
                }
            }

            >.add-channel {
                padding-top: 24px;
                display: flex;
                gap: 10px;
                align-items: center;
                margin: 0;
                color: #000000;
                font-family: $font-primary;
                font-weight: 400;
                font-size: 18px;
                text-decoration: none;
                cursor: pointer;

                &:hover {
                    color: #535AF1;
                }
            }
        }
    }

    >.direct-messages-menu {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 25px;
        overflow-x: hidden;
        overflow-y: scroll;

        >.head-direct-messages {
            display: flex;
            flex-direction: row;
            gap: 15px;

            >.toggle-direct-messages-menu {
                cursor: pointer;
            }

            >.headline-direct-messages {
                display: flex;
                align-items: center;
                gap: 10px;

                >h4 {
                    margin: 0;
                    letter-spacing: 0%;
                    color: #000000;
                    font-weight: 700;
                    font-family: $font-primary;
                    font-size: 20px;
                }
            }
        }

        >.direct-messages {
            display: flex;
            flex-direction: column;
            gap: 13px;
        }
    }
}


.profile-dialog {

    display: flex;
    flex-direction: column;
    width: 872px;
    height: 539px;
    background-color: aliceblue;
    border-top-left-radius: 30px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-sizing: border-box;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    flex: 1;
    padding: 40px;
    justify-content: space-around;
    gap: 18px;
    opacity: 0;
    font-family: $font-primary;
    font-weight: 700;
    font-size: 18px;
    z-index: 1001;




}

.overlay-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    /* Grau, halbtransparent */
    z-index: 1000;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;


}

.opacity {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.input-channel-name-container {

    width: 100%;
    padding: 8px;
    border-radius: 30px;
    border: 1px solid #535AF1;
    display: flex;

    >input {
        width: 100%;
        border: none;
        background-color: #f0f8ff;
        &:focus {
            outline: none;
        }
    }
}

.input-channel-description-container {

    width: 100%;
    padding: 8px;
    border-radius: 30px;
    border: 1px solid #535AF1;

    >input {
        width: 100%;
        border: none;
        background-color: #f0f8ff;
        &:focus {
            outline: none;
        }
    }
}

.button-container {
    display: flex;
    justify-content: end;

    >input {
        background-color: #535AF1;
        border: 1px solid #535AF1;
        color: white;
        padding: 8px;
        border-radius: 30px;
        font-size: 18px;


    }
}

.dialog-Headline {
    display: flex;
    justify-content: space-between;

    >span {
        font-weight: 700;
        font-size: 24px;
    }

    >img {
        cursor: pointer;
        width: 24px;
        height: 24px;
    }
}

.dialog-name {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.dialog-info {

    >span {
        font-weight: 400;
        font-size: 18px;
        color: rgba(0, 0, 0.1);
    }
}

.dialog-description {
    display: flex;
    flex-direction: column;
    gap: 16px;

    >span {
        >span {
            color: rgba(0, 0, 0, 0.5);
        }
    }
}




.chooseMembers-checkbox {
    display: flex;
    flex-direction: column;
}


.userList-Container {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 200px;
    width: 300px;
    gap: 8px;
}

.user {
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 16px;


    &:hover {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.avatar {
    height: 50px;
    width: 50px;
}

.selected-tags {
    display: flex;

    gap: 5px;
    margin-bottom: 5px;
}

.tag {
    background-color: #ddd;
    padding: 5px 10px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    width: max-content;
}

.tag .remove {
    margin-left: 8px;
    cursor: pointer;
    font-weight: bold;
}

.new-chat {
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
}

@media (max-width: 768px) {
    .channel-menu {
        .head {
            display: none;
        }
        .mobile {
            display: block;
        }
    }
    .new-chat {
        display: block;
    }
}