

<div class="message-wrapper">
    <div *ngIf="!isInThread && !dateExists" class="message-date-part">
        <div class="date-row"></div>
        <span class="message-date fontNunito">
            {{ date}}
        </span>
    </div>
    <div [ngClass]="{'reverse': isOwn && !isInThread}" [ngStyle]="editMessage ? {'background-color':'#ECEFFF'} : {}"
        class="message">
        <div *ngIf="!isThread && !isInThread && !editMessage" class="reaction-popup"
            [ngClass]="{ 'show': showEmojiPicker }">


            <img (click)="addEmoji('✅',channelID,messageData?.messageId)" src="assets/img/check_40.png" alt="check">
            <img (click)="addEmoji('👍',channelID,messageData?.messageId)" src="assets/img/like.png" alt="like">
            <img #emojiImg (click)="showEmojiBar()" class="change-color" src="assets/img/add_reaction40.png"
                alt="react">
            <img class="change-color" src="assets/img/edit.png" alt="edit" (click)="onReplyClick()">
            <img (click)="toggleEditPopup()" *ngIf="isOwn" src="assets/img/dots.png" alt="dots">
        </div>

        <div *ngIf="showEmojiPicker" [ngClass]="{'emojiWindowLeftSide': isOwn}" #emojiComponent class="emojiWindow">
            <emoji-mart set="apple" (emojiClick)="addEmoji($event, channelID, messageData?.messageId)"
                title="Pick your emoji…" emoji="point_up" [totalFrequentLines]="2" [showSingleCategory]="true"
                [enableSearch]="false" [emojiTooltip]="false" [autoFocus]="true" [showPreview]="false" theme="dark"
                [perLine]="7"></emoji-mart>
        </div>


        <div *ngIf="isOwn && showEditPopup" class="edit-message" [ngStyle]="isThread ? {'left': '135px'} : {}">
            <span (click)="overwriteMessage()">Nachricht bearbeiten</span>
        </div>
        <div *ngIf="isThread || isInThread" class="reaction-popup">
            <img #emojiThread (click)="showEmojiBarThread()" src="assets/img/add_reaction40.png" alt="">


            <img (click)="toggleEditPopup()" *ngIf="isOwn" src="assets/img/dots.png" alt="dots">
        </div>
        <div *ngIf="(isThread || isInThread) && showEmojiPickerThread" [ngClass]="{'emojiWindowLeftSide': isOwn}"
            #emojiThreadMask class="emojiWindowThread">
            <emoji-mart set="apple" (emojiClick)="handleEmojiClick($event)" title="Pick your emoji…" emoji="point_up"
                [totalFrequentLines]="2" [showSingleCategory]="true" [enableSearch]="false" [emojiTooltip]="false"
                [autoFocus]="true" [showPreview]="false" theme="dark" [perLine]="7"></emoji-mart>
        </div>

        <img [ngStyle]="isThread ? {'padding': '10px 20px 0 40px'}:{}" [src]="'assets/img/avatar_' + avatarSrc + '.png'"
            alt="">
        <div class="message-details" *ngIf="!editMessage">
            <div class="message-over" ><span class="message-name"
            (click)="(isThread || isInThread)? (threadAnswersUserId  ? openProfil(threadAnswersUserId): selectedUserId? openProfil(selectedUserId)
            : null): ( !isThread && messageData?.id? openProfil(messageData!.id): null )"
            >{{ name }} </span><span class="message-time">{{ time }}
                    Uhr</span></div>
            <div [class.own-message]="isOwn" class="message-text"><span>{{ messageText }}</span></div>
            <div class="message-under">
                <div *ngIf="isAnswered" class="message-answered">
                    <span class="message-answers" (click)="onReplyClick()">{{ threadCount }} Antworten</span>
                    <span class="message-last-answer">Letzte Antwort {{lastAnswerDate}}</span>
                </div>
                <div *ngIf="!isAnswered && !isInThread" class="message-not-answered">
                    <!--<div class="reaction"><img src="assets/img/rocket.png" alt=""><span>1</span></div>
                    <div class="reaction"><img src="assets/img/check.png" alt=""><span>1</span></div>-->
                    <img #emojiImgWriter (click)="showEmojiBar()" class="add-reaction"
                        src="assets/img/add_reaction40.png" alt="">
                </div>
            </div>
            <div class="reactions">
                <ng-container
                    *ngFor="let entry of (isThread || isInThread ? emojiReactionsThead : emojiReactions) | keyvalue">
                    <span class="reaction"
                        (click)="isThread || isInThread ? handleEmojiClick(entry.key) : addEmoji(entry.key, channelID, messageData?.messageId)">

                        {{ entry.key }}
                        <ng-container *ngIf="entry.value.count > 1">
                            {{ entry.value.count }}
                        </ng-container>

                        <!-- Tooltip mit dynamischem Text -->
                        <div class="reaction-tooltip">
                            {{ entry.value.users.join(', ') }}
                            {{ entry.value.users.length === 1 ? 'hat reagiert' : 'haben reagiert' }}
                        </div>
                    </span>

                </ng-container>

            </div>
            <div *ngIf="editMessage" class="edit-message-input fontNunito">
                <textarea type="text" class="fontNunito" wrap="soft" placeholder={{messageText}}></textarea>
                <img src="assets/img/emoji.png" alt="">
                <button class="close-edit-message fontNunito" (click)="closeEditPopup()">Abbrechen</button>
                <button class="save-edit-message fontNunito">Speichern</button>
            </div>
        </div>


               