.message-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
}

.message-date-part {
    position: relative;
    height: 35px;
    display: flex;
    align-items: center;

    .date-row {
        height: 1px;
        background-color: #ADB0D9;
        width: 100%;
    }

    .message-date {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 5px 15px;
        border: 1px solid #ADB0D9;
        border-radius: 30px;
        background-color: white;

    }
}

.message {
    width: 100%;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;


    &:hover {

        background-color: #ECEFFF;

        .reaction-popup {
            display: flex;
        }

        &:not(.reverse) {


            .message-text {
                background-color: white !important;
            }
        }

        &.reverse {
            .reaction-popup {
                left: 43px;
                right: unset;
            }
        }


    }


    .reaction-popup {
        position: absolute;
        right: 43px;
        top: -18px;
        display: none;
        align-items: center;
        justify-content: center;
        gap: 5px;
        width: auto;
        padding-left: 20px;
        padding-right: 20px;
        border: 1px solid #ADB0D9;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 25px;
        background-color: white;
        z-index: 2;

          &.show {
        display: none; 

    }


        img {
            width: 40px;
            height: 40px;
            padding: 0;
            cursor: pointer;
            border-radius: 20px;
            margin-top: 3px;
            margin-bottom: 3px;

            &:hover {
                background-color: #ECEEFE;
            }
        }
    }

    .edit-message {
        z-index: 3;
        cursor: pointer;
        position: absolute;
        left: 270px;
        width: auto;
        border: 1px solid #ADB0D9;
        border-bottom-right-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;
        background-color: white;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            padding: 10px 20px;
            border-radius: 100px;
            font-size: 24px;
            font-weight: 600;
            background-color: white;

            &:hover {
                background-color: #ECEEFE;
                color: #535AF1;
                font-weight: 700;
            }


        }

    }



    .edit-message-input {

        width: calc(100% - 290px);
        display: flex;
        position: relative;
        min-height: 155px;


        textarea {
            border-radius: 20px;
            border: 1px solid #ADB0D9;
            border: none;
            width: 100%;
            padding: 20px 20px;
            resize: none;

            &:focus {
                outline: none;
            }

            &:hover {
                border: 1px solid #797EF3;
            }
        }



        button {

            position: absolute;
            font-size: 18px;
            font-weight: 700;
            padding: 12px 25px;
            border: 1px solid #797EF3;
            border-radius: 50px;
            cursor: pointer;

        }

        .close-edit-message {
            right: 185px;
            bottom: 20px;
            background: none;
            color: #444DF2;
            transition: 0.1s;

            &:hover {
                background-color: #444DF2;
                color: white;
            }
        }

        .save-edit-message {
            position: absolute;
            right: 20px;
            bottom: 20px;
            background-color: #444DF2;
            color: white;

            transition: 0.1s;

            &:hover {
                color: #444DF2;
                background-color: #ECEEFE;
            }
        }

        img {
            position: absolute;
            width: 40px;
            height: 40px;
            padding: 0 !important;
            left: 20px;
            bottom: 20px;
            cursor: pointer;
        }


    }


    img {
        width: 70px;
        height: 70px;
        padding: 10px 30px 0 45px;
    }

    span {
        font-family: "Nunito";
    }

    .message-details {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .message-over {
            height: 25px;
            display: flex;
            gap: 20px;

            .message-name {
                font-weight: 700;
                font-size: 18px;
            }

            .message-time {
                font-size: 14px;
                color: #686868;
            }
        }



        .message-text {
            padding: 15px;
            font-size: 18px;
            background-color: #ECEEFE;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            border-bottom-left-radius: 30px;
            max-width: 698px;
            margin-right: 40px;
            width: fit-content;
        }

        .message-under {

            .message-answered {
                height: 25px;
                display: flex;

                .message-answers {
                    font-size: 18px;
                    color: #535AF1;
                    padding-right: 20px;
                    cursor: pointer;

                    &:hover {
                        color: #444DF2;
                        font-weight: 700;
                    }
                }

                .message-last-answer {
                    color: #686868;
                    font-size: 14px;
                }
            }

            .message-not-answered {
                display: flex;
                align-items: center;
                gap: 10px;

                img {
                    width: 34px;
                    height: 34px;
                    padding: 0;
                }

                .reaction {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    padding: 5px 10px;
                    border: 1px solid #ADB0D9;
                    border-radius: 20px;
                }
            }
        }

    }
}

.noHover  {
       pointer-events: none; 
}

.emojiWindow {
    border: solid 1px black;
    padding: 10px 0px 5px 4px;
    padding: 10px 0px 20px 0px;
    border-radius: 10px;
    background-color: #222222;
    scrollbar-color: #444DF2 #222222 !important;
    z-index: 100;
    position: absolute;
    right:  30px;
    bottom: 20px;
    width: max-content;
 
}

.emojiWindowLeftSide {
  left: 30px;
}



::ng-deep .emoji-mart-scroll {
max-height: 80px !important;
}

.reactions {
    display: flex;
    gap: 8px;
    margin-top: 4px;
}

.reaction {
  position: relative;
  display: inline-block;
  margin-right: 8px;
  cursor: pointer;
}

.reaction-tooltip {
  display: none;
  position: absolute;
  bottom: 120%; /* über dem Emoji */
  left: 50%;
  transform: translateX(-50%);
  background-color: #535AF1;
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  white-space: nowrap;
  font-size: 12px;
  z-index: 10;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

.reaction:hover .reaction-tooltip {
  display: block;
}

.reverse {
    flex-direction: row-reverse;

    .message-text {
        border-top-right-radius: 0 !important;
        border-top-left-radius: 30px;

    }

    .message-over {
        flex-direction: row-reverse;
    }

    .message-not-answered {
        justify-content: end;
    }

    .message-answered {
        flex-direction: row-reverse;

        .message-answers {
            padding-right: unset;
            padding-left: 20px;
        }
    }
}

.own-message {
    background-color: #797EF3 !important;
    margin-right: unset !important;
    margin-left: 40px;
    color: white;
    align-self: end;





    &:hover {

        .reaction-popup {
            display: flex;
        }
    }
}

.add-reaction {
    cursor: pointer;
    border-radius: 20px;
    background-color: white;

    &:hover {
        background-color: #ECEFFF;
    }
}

