<div class="message">
    <img src="assets/img/avatar_5.png" alt="">
    <div class="message-details">
        <div class="message-over"><span class="message-name">Noah Braun</span><span class="message-time">14:25 Uhr</span></div>
        <div  class="message-text"><span>Welche Version ist aktuell von Angular?</span></div>
        <div class="message-under">
            <div class="message-answered">
            <!-- <span class="message-answers">2 Antworten</span> -->
            <!-- <span class="message-last-answer">Letzte Antwort 14:56</span> -->
        </div>
        </div>
    </div>
</div>