.message{
    width: 100%;
    display: flex;
    padding-top: 10px;
    

    img{
        width: 70px;
        height: 70px;
        padding: 10px 30px 0 45px;
    }
    span{
        font-family: "Nunito";
    }

    .message-details{
        display: flex;
        flex-direction: column;
        gap: 8px;

        .message-over{
            height: 25px;
            display: flex;
            gap:20px;

            .message-name{
                font-weight: 700;
                font-size: 18px;
            }
    
            .message-time{
                font-size: 14px;
                color: #686868;
            }
        }



        .message-text{
            padding: 15px;
            font-size: 18px;
            background-color: #ECEEFE;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            border-bottom-left-radius: 30px;
            max-width: 698px;
        }

        .message-under{

            .message-answered{
                height: 25px;
                display: flex;

                .message-answers{
                    font-size: 18px;
                    color: #535AF1;
                    padding-right: 20px;
                }
        
                .message-last-answer{
                    color: #686868;
                    font-size: 14px;
                }
            }
           
            .message-not-answered{
                display: flex;
                align-items: center;
                gap: 10px;

                img{
                    width: 24px;
                    height: 24px;
                    padding: 0;
                }

                .reaction{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    padding: 5px 10px;
                    border: 1px solid #ADB0D9;
                    border-radius: 20px;
                }
            }
        }

    }

    .reverse{
        flex-direction: row-reverse;

        .message-text{
            border-top-right-radius: 0 !important;
            border-top-left-radius: 30px;
            
        }
        .message-over{
            flex-direction: row-reverse;
        }

        .message-not-answered{
            flex-direction: row-reverse;
        }

        .message-answered{
            flex-direction: row-reverse;

            .message-answers{
                padding-right: unset;
                padding-left: 20px;
            }
        }
}
}