.register-container {


  flex-direction: column;
  justify-content: center;
  display: flex;
  align-items: center;

  >.Logo {
    position: absolute;
    top: 35px;
    left: 35px;
    height: 70px;
    width: 242.11px;
  }

  >.register-card {
    height: 669px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;

    >span {
      font-family: 'Nunito';
      font-weight: 400;
      font-size: 20px;
      text-align: center;
      margin-bottom: 30px;
      width: 486px;
      letter-spacing: 0%;
    }
    >div {
      display: flex;
      align-items: center;
      justify-content: center;
  
      >a {
        position: absolute;
        margin-right: 500px;
  
        >img {
          width: 40px;
          height: 40px;
        }
      }
    }
    
  }

 


}

.borderRed {
  border: 1px solid red !important;
}

h1 {
  font-family: 'Nunito';
  font-weight: 700;
  font-size: 46px;
  color: rgba(68, 77, 242, 1);
  display: flex;
  justify-content: center;
}

.validation-container {
 min-height: 0px;
  /* Stelle sicher, dass immer ein wenig Platz reserviert wird, auch wenn keine Nachricht da ist */
  visibility: hidden;
  /* Nachricht bleibt unsichtbar, aber der Raum wird weiterhin reserviert */
}

.validation-text {
  visibility: visible;  /* Wenn die Nachricht angezeigt wird, bleibt sie sichtbar */
  color: red;
  font-size: 16px;
}





form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 350px;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Nunito';


  
 
  


  >div {

    display: flex;
    align-items: center;
    height: 50px;
    width: 500px;
    border-radius: 100px;
    background-color: white;




    cursor: pointer;

    >div {
      display: flex;
      align-items: center;
      padding-top: 18px;
      padding-right: 32px;
      padding-bottom: 18px;
      padding-left: 32px;
      width: 100%;
      gap: 10px;

      >input {
        border: none;
        width: 100%;
        background-color: transparent;

        &::placeholder {
          font-size: 18px;
          font-weight: 500;
          font-family: 'Nunito';
        }

        &:hover {
          outline: none !important;
          border-width: 0px !important;
          border: none !important;
        }

        &:focus {
          outline: none !important;
          border-width: 0px !important;
          border: none !important;
        }
      }
    }
  }
}

.checkbox-container {
  gap: 8px !important;
  background-color: transparent !important;
}

.borderPurple {
  border: 1px solid #535af1 !important;
}

.button-container {
  display: flex;
  justify-content: end;
  background-color: transparent !important;

  >input {
    &:disabled {
      background-color: transparent;
      color: grey;
      border: 1px solid grey;
    }

    background-color: rgb(61, 61, 247);
    color: white;
    padding: 16px;
    border-radius: 100px;
    border: 1px solid rgb(61, 61, 247);
    cursor: pointer;
  }
}



.invalid-placeholder::placeholder {
  color: red !important;
}

.empty-input-Name {
  border: 2px solid red !important;
  color: red !important;
}



@media(max-width:520px) {

  h1 {
    font-size: 40px;

  }

  .register-container {
    >.register-card {
      >span {
        font-size: 18px;
        width: 372px;
      }

      ;

      >div {
        >a {
          margin-right: 380px;
        }

      }
    }
  }

  form {
    >div {
      width: 372px;
    }
  }
}


@media(max-width: 400px) {

  h1 {
    font-size: 30px;

  }

  .register-container {
    >.register-card {
      >span {
        font-size: 18px;
        width: 305px;
      }

      ;

      >div {
        >a {
          margin-right: 300px;
        }

      }
    }
  }

  form {
    font-size: 15px;

    >div {
      width: 305px;
    }
  }
}