.register-container {
  height: 100vh;

  flex-direction: column;
  justify-content: center;
  display: flex;
  align-items: center;

  >.Logo {
    position: absolute;
    top: 35px;
    left: 35px;
    height: 70px;
    width: 242.11px;
  }

  >.register-card {
    height: 669px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;

    >div {
      display: flex;
      align-items: center;
      justify-content: center;

      >img {
        position: absolute;
        margin-right: 500px;
      }
    }
  }


}



h1 {
  font-family: 'Nunito';
  font-weight: 700;
  font-size: 46px;
  color: rgba(68, 77, 242, 1);
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 316px;

  >button{

    background-color: rgb(61, 61, 247);
    color: white;
    padding: 16px;
    border-radius: 100px;
  }
 
  

  >div {

    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 300px;
    padding: 8px;
    border: 1px solid transparent;
    border-radius: 100px;
    

    &:hover {
      border: 1px solid black;
      border-radius: 100px;
    }

    cursor: pointer;

    >div {
     
      >input {
        border: none;

        &:hover {
          outline: none !important;
          border-width: 0px !important;
          border: none !important;
        }

        &:focus {
          outline: none !important;
          border-width: 0px !important;
          border: none !important;
        }
      }
    }
  }
}

.checkbox-container {
  border: none !important;
}

.ng_border{
  border: 1px solid black !important;
  border-radius: 100px !important;
}

