<div class="register-container">

    <div class="register-card">
       
        <div>
            <img src="../../assets/img/13. Go back.png" alt="">
            <h1>Konto erstellen</h1>
        </div>

        Mit deinem Namen un deiner E-Mail-Adresse hast du dein neues DaBubble-Konto

        <form>

            <div>
                <div><img src="../../assets/img/person_filled.png" alt=""></div>
                <div><input placeholder="Name und Nachname" type="text"></div>
            </div>
            <div>
                <div><img src="../../assets/img/mail (1).png" alt=""></div>
                <div><input placeholder="beispielemail@email.com" type="email"></div>
            </div>
            <div>
                <div><img src="../../assets/img/lock.png" alt=""></div>
                <div><input placeholder="Passwort" type="password"></div>
            </div>

            <div class="checkbox-container">
                <input type="checkbox" name="" id="">
                <span>Ich stimme der Datenschuterklärung zu</span>
            </div>

        </form>

    </div>





</div>