<app-header></app-header>
<div class="register-container">

    <div class="register-card">

        <div>
            <a routerLink=""><img src="../../assets/img/13. Go back.png" alt=""></a>
            <h1>Konto erstellen</h1>
        </div>
        <span>Mit deinem Namen un deiner E-Mail-Adresse hast du dein neues DaBubble-Konto</span>


        <form>

            <div class="input-containers" (focusin)="divfocusName('text',true)" [ngClass]="{'borderPurple':borderVisibleName}"
                (focusout)="divfocusName('text',false)">
                <div>
                    <mat-icon [ngStyle]="{'color':borderVisibleName ? 'black':'gray'}">person</mat-icon>
                    <input [(ngModel)]="user.name" name="first" placeholder="Name und Nachname" type="text">
                </div>
            </div>
            <div class="input-containers" (focusin)="divfocusmail('email',true)" [ngClass]="{'borderPurple':borderVisibleMail}"
                (focusout)="divfocusmail('email',false)">
                <div>
                    <mat-icon [ngStyle]="{'color': borderVisibleMail ? 'black': 'gray'}">mail</mat-icon>
                    <input [(ngModel)]="user.email" name="email" placeholder="beispielemail@email.com" type="email">
                </div>
            </div>
            <div class="input-containers" (focusin)="divfocusPasswort('password',true)" [ngClass]="{'borderPurple':borderVisiblepasswort}"
                (focusout)="divfocusPasswort('password',false)">
                <div>
                    <mat-icon [ngStyle]="{'color': borderVisiblepasswort ? 'black': 'gray'}">lock</mat-icon>
                    <input [(ngModel)]="user.passwort" name="passwort" placeholder="Passwort" type="password">
                </div>
            </div>

            <div class="checkbox-container">
                <input type="checkbox" name="" id="">
                <span>Ich stimme der Datenschuterklärung zu</span>
            </div>

            <div class="button-container">
                <button (click)="addUser()" [disabled]="" mat-flat-button>Weiter</button>
            </div>


        </form>

    </div>





</div>